/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

input[type=number]{
    width: 50px;

}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
   resize: none;
}


.lbl-toggle {
    display: block;
    text-align: left;

    padding: 1rem;

    color: #444;
    background:#eee;

    cursor: pointer;

    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    background: #ccc;
}


.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 550px;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: inherit;
    padding: .5rem 1rem;
}

.main-table {
}

.data-table {
    overflow-y: scroll;
    height: 100%;
    vert-align: top

}
.data-table td {
    width: 10px;
    text-align: "."
}

.cumulative-table {
    float: left;
    margin-top: 20px;

}

.cumulative-table th {
    text-align:left;
    width: 100%;
}

.entry-table-heading {
    width: 20%;
}

.grad-calc-table {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.point {
    display: inline-block;
    width: 60px;
    text-align: right;
}

.code {
    display: inline-block;
    width: 100px;
    text-align: left;
}
