* {
 font-family: "Helvetica", Helvetica, sans-serif;
}

body {
    background-color: powderblue;
}

.student ul {
    border: none;
    list-style-type: disc;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.student td{
    /* border: 1px solid black; */
    overflow-y: auto;
}

.student th{
    text-align: left;
}
