body {
    background-color: powderblue;
}
h1 {
    color: blue;
    font-family: "Helvetica", Helvetica, sans-serif;
}

p {
    color: red;
}

.btn {
    border: 1px solid red;
    background-color: inherit;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}
.danger {
    color: red;
}

.default {color: black;}

input[type=number]{
    width: 40px;
}