* {
 font-family: "Helvetica", Helvetica, sans-serif;
}

body {
    background-color: powderblue;
}

.student ul {
    border: none;
    list-style-type: disc;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.student td{
    /* border: 1px solid black; */
    overflow-y: auto;
}

.sortable th{
    text-align: left;
}

table.sortable tbody tr:nth-child(2n) td {
  background: inherit;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background: #ccffff;
}

table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
  content: " ";
  display: inline-block;
  width: 24px;
  height: 24px;
}
