{% extends 'data/base.html' %}
{% load static %}

{% block title %}Show All{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
        <ul id="list" style="font-size: 8px;">
            <li>Loading...</li>
        </ul>
{% endblock %}

{% block javascript %}
    <script>
    $(document).ready(function(){
    $.ajax({
        url: '{% url "data:ajax_all_points" %}',
        data: {},
        dataType: 'json',
        success: function (data) {
            var list = document.getElementById("list");
            var listItems = list.getElementsByTagName("li");
            var last = list.getElementsByTagName("li")[listItems.length-1];
            list.removeChild(last);
            for(let i = 0; i < data.length; i++) {
                var node = document.createElement("LI");
                var log = data[i];
                var textnode = document.createTextNode(log.time + ":\t " + log.message + " by " + log.entered_by);
                node.appendChild(textnode);
                document.getElementById("list").appendChild(node);
            }
        }});
    });
    </script>
{% endblock %}