{% extends 'data/base.html' %}
{% load static %}

{% block title %}Archives{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/studentlist_style.css' %}">
{% endblock %}

{% block content%}
    <h4>Import .pgdb Archive File</h4>
    <form method="post" enctype="multipart/form-data" action="{% url 'data:archive_submit'%}">
        <!--<input type="submit" value="Upload .pgdb Archive" name="submit">-->
        <input type="file" name="file" id="file" onchange="form.submit()" accept=".pgdb">
        {% csrf_token %}
    </form>
    <hr>

    <h4>Migrate from DOS Database</h4>
    <form method="post" enctype="multipart/form-data" action="{% url 'data:archive_wdb_submit'%}">
        <select name="grade">
                <option value="08" >Grade 08</option>
                <option value="09" >Grade 09</option>
                <option value="10" >Grade 10</option>
                <option value="11" >Grade 11</option>
                <option value="12" >Grade 12</option>
        </select>
        of
        <select name="start-year" id="year"></select>
        <input type="file" name="file" id="file" onchange="form.submit()" accept=".csv">
        {% csrf_token %}
    </form>
    <hr>

    <h4>Create Honour Roll, Principal's List and GE Rolls Recipients</h4>
    <form method="post" enctype="multipart/form-data" action="{% url 'data:roll_importer'%}">
        <label><select name="term">
            <option value="2" >term 2</option>
            <option value="1" >term 1</option>
        </select></label>
        of
        <select name="start-year" id="year"></select>
        <input type="file" name="file" id="file" onchange="form.submit()" accept=".csv">
        {% csrf_token %}
        <label>Inadmissible course codes (YCPM, YBMO,...) <input style="width: 500px;" type="text" value="YCPM, YBMO, YIPS, MCE8, MCE9"></label>
    </form>

    <hr>
    <h4>Stuff</h4>
    <form method="post" action="{% url 'data:archive_file'%}">
        <input type="submit" value="do stuff" name="submit">
        <label><input type="text" name="query" id="query"></label>
        {% csrf_token %}
    </form>
    <hr>


{% endblock %}

{% block javascript %}
    <script>
        var start = new Date().getFullYear() + 1;
        var end = 1970;
        var options = "";
        for(var year = start ; year >=end; year--){
          options += "<option value=\""+ year + "\">" + year + " → " + (year + 1) +"</option>";
        }
        document.getElementById("year").innerHTML = options;
    </script>
{% endblock %}


