{% extends 'data/base.html' %}
{% load static %}

{% block title %}Archives{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block content%}
    <h4>Import .pgdb Archive File</h4>
    <form method="post" enctype="multipart/form-data" action="{% url 'data:archive_submit'%}">
        <!--<input type="submit" value="Upload .pgdb Archive" name="submit">-->
        <input type="file" name="file" id="file" onchange="form.submit()" accept=".pgdb">
        {% csrf_token %}
    </form>
    <hr>

    <h4>Export .pgdb Archive File</h4>
    <form method="post" action="{% url 'data:archive_file'%}">
        <input type="submit" value="Export .pgdb Archive" name="submit">
        <label><input type="hidden" name="query" id="query" value=""></label>
        {% csrf_token %}
    </form>
    <hr>

    <h4>Migrate from DOS Database</h4>
    <form method="post" enctype="multipart/form-data" action="{% url 'data:archive_wdb_submit'%}">
        <select name="grade">
                <option value="08" >Grade 08</option>
                <option value="09" >Grade 09</option>
                <option value="10" >Grade 10</option>
                <option value="11" >Grade 11</option>
                <option value="12" >Grade 12</option>
        </select>
        of
        <select name="start-year" id="year"></select>
        <input type="file" name="file" id="file" onchange="form.submit()" accept=".csv">
        {% csrf_token %}
    </form>
    <hr>
    <h4>Stuff</h4>
    <form method="post" action="{% url 'data:archive_file'%}">
        <input type="submit" value="do stuff" name="submit">
        <label><input type="text" name="query" id="query"></label>
        {% csrf_token %}
    </form>
    <hr>


{% endblock %}

{% block javascript %}
    <script>
        {% now "n" as current_month %}
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% elif current_month|add:"0" <= 7 %}
          if(year === start - 2){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
              options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
          }
          document.getElementById("year").innerHTML = options;
    </script>
{% endblock %}


