{% load staticfiles %}
{% load session_security_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'icon.png'%}" />
    <title>{% block title %}Database{% endblock %} | Point Grey Awards Database</title>
    <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
    <script src="{% static 'Javascript/sorttable.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% include 'session_security/all.html' %}
    {% block stylesheet %}{% endblock %}
</head>

<div style="display:inline;text-align:left; float: left;">
    <a href="https://www.vsb.bc.ca/schools/point-grey/Families/Awards/Pages/default.aspx" target="_blank"><img src="{% static 'pglogo.png' %}" alt="Point Grey Secondary Logogit " height="50" width="50"></a>
</div>

<div>
    <h1 class="title"><a href="{% url "data:index" %}" style="text-decoration: none;">Point Grey Awards Database</a></h1>
</div>

    {% block navbar %}{% endblock %}
<main>
    {% block content %}<!--For sortable, change the name value to a value of their name and sort by that for alpha by last-->{% endblock %}
</main>

<footer>
    <script type="text/javascript">
    window.onbeforeunload = null;
    tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
    tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");

    function GetClock(){
    var d=new Date();
    var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
    var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

    if(nhour==0){ap=" AM";nhour=12;}
    else if(nhour<12){ap=" AM";}
    else if(nhour==12){ap=" PM";}
    else if(nhour>12){ap=" PM";nhour-=12;}

    if(nmin<=9) nmin="0"+nmin;
    if(nsec<=9) nsec="0"+nsec;

    document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
    }

    window.onload=function(){
    GetClock();
    setInterval(GetClock, 100);
    }
    </script>
    <script>
        addEventListener('keypress', function(e) {
            let characterCode;
            if(e.which || e.charCode || e.keyCode || e.key){
                characterCode = e.which || e.charCode || e.keyCode || e.key;
            }else if (e.key !== undefined){
                characterCode = charCodeArr[e.key] || e.key.charCodeAt(0);
            }else{
                characterCode = 0;
            }

            if (characterCode === 42) { // * key code
                $('#query').focus();
        }}, false);
    </script>
    <script>
        $(function(){
          $('#query').keypress(function(e){
            if(e.which === 42 || this.value.includes('*')){
                this.value = this.value.replace('*','');
            } else {

            }
          });
        });
    </script>
    <script>
        function PrintElem(elem){
            const mywindow = window.open('', 'PRINT', 'height=400,width=600');
            mywindow.document.documentElement.innerHTML = '';

            mywindow.document.write('<html><head><title>' + document.title  + '</title>');
            mywindow.document.write('<style>*{font-family: "Helvetica", Helvetica, sans-serif;font-size:10px;}</style>');
            mywindow.document.write('</head><body>');
            mywindow.document.write('<h3>' + document.title  + '</h3>');
            mywindow.document.write(document.getElementById(elem).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            //mywindow.close();

            return true;
        }
    </script>
    <script type="text/javascript">
        if (typeof jQuery == 'undefined'){
         document.write(unescape("%3Cscript src='/Scripts/jquery-1.4.2.min.js' type='text/javascript'%3E%3C/script%3E"));
         document.write(unescape("%3Cscript src='/Scripts/jqueryui-1.7.2.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    {% block javascript %}{% endblock %}
</footer>
{% comment %}

{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block content%}
    <!--Content goes here-->
{% endblock %}
{% block javascript %}{% endblock %}

{% endcomment %}