
{% extends 'data/base.html' %}
{% load static %}

{% block title %}Code Definitions{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block content%}
    <h2>Codes</h2>
    <p>Note: The student view can only display approximately 15 characters per line.</p>
    <form action="{% url "data:codes_submit" %}" method="post">
    {% csrf_token %}
    {% for code in codes %}
        <fieldset>
            Type: <select name="{{ forloop.counter0 }}code">
                <option value="SE" {% ifequal code.catagory "SE" %}selected{% endifequal %}>Service</option>
                <option value="AT" {% ifequal code.catagory "AT" %}selected{% endifequal %}>Athletics</option>
                <option value="FA" {% ifequal code.catagory "FA" %}selected{% endifequal %}>Fine Arts</option>
                <option value="SC" {% ifequal code.catagory "SC" %}selected{% endifequal %}>Scholar</option>
            </select>

            Code: <input type='number' name="{{ forloop.counter0 }}type" value="{{ code.code }}">
            Description: <input type='text' name="{{ forloop.counter0 }}description" value="{{ code.description }}">
            <button onclick="">X</button>
        </fieldset>
    {% endfor %}
        <fieldset>
            Type: <select name="type">
                <option value="SE">Service</option>
                <option value="AT">Athletics</option>
                <option value="FA">Fine Arts</option>
                <option value="SC">Scholar</option>
            </select>
            Code: <input type='text' name="code" value="">
            Description: <input type='text' name="description" value="">
        </fieldset>
    <input type="submit" value="Save">
    </form>
{% endblock %}