{% load staticfiles %}
{% load mathfilters %}

<div class="wrap-collapsible">
    <!--Comment out the following line to remove the disable NOT AT PG-->
  <input style="display:none" id="{{ grade }}" class="toggle" type="checkbox" {% ifequal grade current_grade %} checked {% endifequal %}>

  <label for="{{ grade }}" class="lbl-toggle">
      {% ifequal grade current_grade %}<strong>{% endifequal %}
      Grade {{ grade }}
      {% ifequal grade current_grade %}</strong>
        ({{ grade_object.start_year }} - {{ grade_object.start_year|add:1 }})
    {% endifequal %}
    {% if year|add:grade < student.date_added|date:"Y"|abs|add:current_grade %}
        <strong>NOT AT PG</strong>
    {% endif %}
  </label>

  <div class="collapsible-content">


    <div class="content-inner">
      <table border="1px" class="main-table" >
        <tr>
            <!-- Totals and Table headers-->
            <td>Grade: {{ grade }}</td>
            <td class="entry-table-heading"><strong>Service</strong> {{ grade_object.SE_total|floatformat:1 }} Points</td>
            <td class="entry-table-heading"><strong>Athletics</strong> {{ grade_object.AT_total|floatformat:1 }} Points</td>
            <td class="entry-table-heading"><strong>Fine Arts</strong> {{ grade_object.FA_total|floatformat:1 }} Points</td>
            <td><strong>Scholar</strong> {{ grade_object.SC_total|floatformat:1 }} Points</td>
            <td><strong>Annual Awards</strong></td>
        </tr>
        <tr>
            <td rowspan="4">
                <!-- get current year-->
                {{ grade_object.start_year|add:1 }}<br>
                {{ grade_object.start_year }}
                <br>
                    <!--Table left content-->
                <hr>
                {{ student.currentyear|slice:"5:8" }}
                <button onclick="submitForms();" class="btn" {% if user.no_entry %}disabled{% endif %}>SAVE</button>
                <p>Comments</p>
                <textarea title="anecdote" name="anecdote{{ grade }}" class="text" rows="5" cols="25" form="form0" {% if user.no_entry %}disabled{% endif %}>{{ grade_object.anecdote }}</textarea>

            <!-- DATA ENTRY HAPPENS HERE -->

            <td>
                <label for="service">Points: </label>
                <input class="inputs" max="1000" id="service" type="number" name="{{grade}} SE points" maxlength="4" {% ifequal grade current_grade %}{% ifequal user.autofocus 1 %} autofocus {% endifequal %}{% endifequal %} {% if user.no_entry %}disabled{% endif %} step="0.01">
                <input class="codes" id="service" type="number" name="{{grade}} SE code" maxlength="2" {% if user.no_entry %}disabled{% endif %}>
            </td>

            <td>
                <label for="athletics">Points: </label>
                <input class="inputs" max="6" id="athletics" type="number" name="{{grade}} AT points" maxlength="4" {% ifequal grade current_grade %}{% ifequal user.autofocus 2 %} autofocus {% endifequal %}{% endifequal %} {% if user.no_entry %}disabled{% endif %} step="0.01">
                <input class="codes" id="athletics" type="number" name="{{grade}} AT code" maxlength="2" {% if user.no_entry %}disabled{% endif %}>
            </td>

            <td>
                <label for="fine_arts">Points: </label>
                <input class="inputs" max="10" id="fine_arts" type="number" name="{{grade}} FA points" maxlength="4" {% ifequal grade current_grade %}{% ifequal user.autofocus 3 %} autofocus {% endifequal %}{% endifequal %} {% if user.no_entry %}disabled{% endif %} step="0.01">
                <input class="codes" id="fine_arts" type="number" name="{{grade}} FA code" maxlength="2" {% if user.no_entry %}disabled{% endif %}>
            </td>

            <td rowspan="2">
                    <label for="scholar">T1 Average: </label>
                    <input class="scholar" max="100" id="scholar" type="number" size="6" name="{{grade}} SC T1" value="{{ scholar.term1|floatformat:"3" }}" {% ifequal grade current_grade %}{% ifequal user.autofocus 4 %} autofocus {% endifequal %}{% endifequal %} onfocus="this.select()" step="0.001" {% if user.no_entry %}disabled{% endif %}>
                    <br>

                    <label for="scholar">T2 Average: </label>
                    <input class="scholar" max="100" id="scholar" type="number" size="6" name="{{grade}} SC T2" value="{{ scholar.term2|floatformat:"3" }}" {% ifequal grade current_grade %}{% ifequal user.autofocus 5 %} autofocus {% endifequal %}{% endifequal %} onfocus="this.select()" step="0.001" {% if user.no_entry %}disabled{% endif %}>
                    <br>

                    <label for="scholar">T1 Plist:
                        {% if grade_object.plist_T1 %}{{ grade_object.plist_T1 }}{% else %}<a href="{% url "admin:data_plistcutoff_add" %}">Create</a>{% endif %}
                    </label><br>
                    <label for="scholar">T2 Plist:
                        {{ grade_object.plist_T2 }}
                    </label>
            </td>

            <!-- Annual awards -->
            <td rowspan="2">
                {% if grade_object.SE_total >= 9.5 %}Service{% endif %}<br>
                {% if grade_object.AT_total >= 9.5 %}Athletics{% endif %}<br>
                {% if grade_object.FA_total >= 9.5 %}Fine Arts{% endif %}<br>
                {% if scholar.term1 >= 79.45 and scholar.term2 >= 79.45 %}Scholarship {% if scholar.term1 >= grade_object.plist_T1 and scholar.term2 >= grade_object.plist_T2 %}PL{% endif %}{% endif %}

<br>
            </td>
        </tr>

    <!--Where all the points are displayed-->
        <tr>
            <td align="center">
                Notes for Service
            </td>
            <td align="center">
                Notes for Athletics
            </td>
            <td align="center">
                Notes for Fine Arts
            </td>
        </tr>
    <tr>
        <td height="10" rowspan="2">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "SE" point.type.catagory %}
                        <div class="tooltip">
                            {% if point.amount <= 6 %}
                                <span class="point">{{ point.amount }}</span>
                            {% else %}
                                <span class="point" style="color:darkgoldenrod">{{ point.amount }}</span>
                            {% endif %}
                            <span style="display: inline-block; width: 2ch;">&#9;</span>
                            <span class="code description">{{ point.type.description }}</span>
                            <input type="submit" name="deletePoint {{ grade }} {{ point.type }}" value="X" />
                            <br>
                            <span class="tooltiptext">Entered by: {% if point.entered_by %}{{ point.entered_by.username }}{% else %}Importer{% endif %}</span>
                        </div>
                    {% endifequal %}
                {% endfor %}

        </td>
        <td height="10" rowspan="2">
            <table width="100%" class="data-table">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "AT" point.type.catagory %}
                        <div class="tooltip">
                            {% if point.amount <= 6 %}
                                <span class="point">{{ point.amount }}</span>
                            {% else %}
                                <span class="point" style="color:red">{{ point.amount }}</span>
                            {% endif %}
                            <span style="display: inline-block; width: 2ch;">&#9;</span>
                            <span class="code description">{{ point.type.description }}</span>
                            <input type="submit" name="deletePoint {{ grade }} {{ point.type }}" value="X" />
                            <br>
                            <span class="tooltiptext">Entered by: {% if point.entered_by %}{{ point.entered_by.username }}{% else %}Importer{% endif %}</span>
                        </div>
                    {% endifequal %}
                {% endfor %}
            </table>
        </td>
        <td height="10" rowspan="2">
            <table width="100%" class="data-table">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "FA" point.type.catagory %}
                        <div class="tooltip">
                            {% if point.amount <= 10 %}
                                <span class="point">{{ point.amount }}</span>
                            {% else %}
                                <span class="point" style="color:red">{{ point.amount }}</span>
                            {% endif %}
                            <span style="display: inline-block; width: 2ch;">&#9;</span>
                            <span class="code description">{{ point.type.description }}</span>
                            <input type="submit" name="deletePoint {{ grade }} {{ point.type }}" value="X" />
                            <br>
                            <span class="tooltiptext">Entered by: {% if point.entered_by %}{{ point.entered_by.username }}{% else %}Importer{% endif %}</span>
                        </div>
                    {% endifequal %}
                {% endfor %}
            </table>
        </td>
        <td height="15" colspan="2">
            <strong>Cumulative Awards</strong>
        </td>
    </tr>

      <!--CUMULATIVE AWARDS-->
    <tr>
        <td>
            Silver<br>
            Gold <br>
            Gold + <br>
            Platinum <br>
            Big Block<br>
        </td>
        <td>
            {% if student.silver_pin %}Grade {{ student.silver_pin }}{% endif %}<br>
            {% if student.gold_pin %}Grade {{ student.gold_pin }}{% endif %}<br>
            {% if student.goldPlus_pin %}Grade {{ student.goldPlus_pin }}{% endif %}<br>
            {% if student.platinum_pin %}Grade {{ student.platinum_pin }}{% endif %}<br>
            {% if student.bigblock_award %}Grade {{ student.bigblock_award }}{% endif %}<br>

        </td>
    </tr>
    </table>

<!-- Cumulative Awards Datatable-->
    <table border="0" class="cumulative-table" frame="box">
        <tr>
            <th colspan="4" style="border:1px solid black;"><strong>Cumulative Awards</strong></th>
        </tr>
        <tr>
            <td>Total Points:</td><td>{{ grade_object.cumulative_SE|addition:grade_object.cumulative_AT|addition:grade_object.cumulative_SC|addition:grade_object.cumulative_FA|floatformat:"2" }}</td>
        </tr><tr>
            <td>Service Points: </td><td>{{ grade_object.cumulative_SE|floatformat:"2" }}</td>
        </tr><tr>
            <td>Athletics Points: </td><td>{{ grade_object.cumulative_AT|floatformat:"2" }}</td>
        </tr><tr>
            <td>Scholar Points: </td><td>{{ grade_object.cumulative_SC|floatformat:"2" }}</td>
        </tr><tr>
            <td>Fine Arts Points: </td><td>{{ grade_object.cumulative_FA|floatformat:"2" }}</td>
        </tr>
    </table>

<!-- Grad Calculations Table-->
    {% ifequal grade "12" %}
        <table class="grad-calc-table">
            <tr>
                <td colspan="2">
                    <strong>Grad Calculations</strong>
                </td>
            </tr>
            <tr>
                <td>
                    11/12 Average<br>
                    11/12 Service<br>
                    11/12 Athletics<br>
                    11/12 Scholar<br>
                    11/12 Fine Arts<br>
                    11/12 All Points<br>
                </td>

                <td width="120px">
                    : {{ student.average_11_12|floatformat:"2" }} %<br>
                    : {{ student.SE_11_12_total|floatformat:"2" }} Points<br>
                    : {{ student.AT_11_12_total|floatformat:"2" }} Points<br>
                    : {{ student.SC_11_12_total|floatformat:"2" }} Points <br>
                    : {{ student.FA_11_12_total|floatformat:"2" }} Points<br>
                    : {{ student.all_11_12_total|floatformat:"2" }} Points<br>
                </td>
            </tr>
        </table>
    {% endifequal %}
    </div>
  </div>
</div>


