{% load staticfiles %}
{% load mathfilters %}

<div class="wrap-collapsible">
    <!--Comment out the following line to remove the disable NOT AT PG-->
  <input style="display:none" id="{{ grade }}" class="toggle" type="checkbox" {% ifequal grade current_grade %} checked {% endifequal %}>

  <label for="{{ grade }}" class="lbl-toggle">
      {% ifequal grade current_grade %}<strong>{% endifequal %}
      Grade {{ grade }}
      {% ifequal grade current_grade %}</strong>
        ({{ grade_object.start_year }} - {{ grade_object.start_year|add:1 }})
    {% endifequal %}
  </label>

  <div class="collapsible-content">


    <div class="content-inner">
      <table class="main-table" style="width: 100%; border: 1px solid black">
        <tr>
            <!-- Totals and Table headers-->
            <td>Grade: {{ grade }}</td>
            <td class="entry-table-heading"><strong>Service</strong> <span id="annual SE{{ grade }} total">...</span> Points</td>
            <td class="entry-table-heading"><strong>Athletics</strong> <span id="annual AT{{ grade }} total">...</span> Points</td>
            <td class="entry-table-heading"><strong>Fine Arts</strong> <span id="annual FA{{ grade }} total">...</span> Points</td>
            <td><strong>Scholar</strong> <span id="annual SC{{ grade }} total">...</span> Points</td>
            <td><strong>Annual Awards</strong></td>
        </tr>
        <tr>
            <td rowspan="4">
                <!-- get current year-->
                {{ grade_object.start_year|add:1 }}<br>
                {{ grade_object.start_year }}
                <br>
                    <!--Table left content-->
                <hr>
                {{ student.currentyear|slice:"5:8" }}
                <p>Comments</p>
                <textarea title="anecdote" name="anecdote{{ grade }}" class="text" rows="5" cols="25" form="form0" {% if user.no_entry %}disabled{% endif %}>{{ grade_object.anecdote }}</textarea><hr>
                <button style="clear: both;" onclick="submitForms();" class="btn {% if user.no_entry %}disabled{% endif %}">SAVE COMMENT</button>
            </td>

            <!-- DATA ENTRY HAPPENS HERE -->

            <td>
                <label for="service">Points: </label>
                <input class="inputs" max="1000" id="service" type="number" name="{{grade}} SE points" maxlength="4" {% ifequal grade current_grade %}{% ifequal user.autofocus 1 %} autofocus {% endifequal %}{% endifequal %} {% if user.no_entry %}disabled{% endif %} step="0.01">
                <input class="codes" id="service" type="number" name="{{grade}} SE code" maxlength="2" {% if user.no_entry %}disabled{% endif %}>
            </td>

            <td>
                <label for="athletics">Points: </label>
                <input class="inputs" max="6" id="athletics" type="number" name="{{grade}} AT points" maxlength="4" {% ifequal grade current_grade %}{% ifequal user.autofocus 2 %} autofocus {% endifequal %}{% endifequal %} {% if user.no_entry %}disabled{% endif %} step="0.01">
                <input class="codes" id="athletics" type="number" name="{{grade}} AT code" maxlength="2" {% if user.no_entry %}disabled{% endif %}>
            </td>

            <td>
                <label for="fine_arts">Points: </label>
                <input class="inputs" max="10" id="fine_arts" type="number" name="{{grade}} FA points" maxlength="4" {% ifequal grade current_grade %}{% ifequal user.autofocus 3 %} autofocus {% endifequal %}{% endifequal %} {% if user.no_entry %}disabled{% endif %} step="0.01">
                <input class="codes" id="fine_arts" type="number" name="{{grade}} FA code" maxlength="2" {% if user.no_entry %}disabled{% endif %}>
            </td>

            <td rowspan="2">
                    <label for="scholar">T1 Average: </label>
                    <input class="scholar" max="100" id="scholar" type="number" size="6" name="{{grade}} SC T1" value="{{ scholar.term1|floatformat:"3" }}" {% ifequal grade current_grade %}{% ifequal user.autofocus 4 %} autofocus {% endifequal %}{% endifequal %} onfocus="this.select()" step="0.001" {% if user.no_entry %}disabled{% endif %}>
                    <input type="checkbox" checked><!--nullify average; don't assign points-->
                <br>

                    <label for="scholar">T2 Average: </label>
                    <input class="scholar" max="100" id="scholar" type="number" size="6" name="{{grade}} SC T2" value="{{ scholar.term2|floatformat:"3" }}" {% ifequal grade current_grade %}{% ifequal user.autofocus 5 %} autofocus {% endifequal %}{% endifequal %} onfocus="this.select()" step="0.001" {% if user.no_entry %}disabled{% endif %}>
                    <input type="checkbox" checked><!--nullify average; don't assign points-->
                <br>

                    <label for="scholar">T1 Plist:
                        {% if grade_object.plist_T1 %}{{ grade_object.plist_T1 }}{% else %}<a href="{% url "admin:data_plistcutoff_add" %}">Create</a>{% endif %}
                    </label><br>
                    <label for="scholar">T2 Plist:
                        {{ grade_object.plist_T2 }}
                    </label>
            </td>
            <!-- Annual awards -->
            <td rowspan="2">
                <input type="checkbox" checked><!--nullify certificate; do assign points--><span id="annual SE {{ grade }}">Calculating...</span><br>
                <input type="checkbox" checked><!--nullify certificate; do assign points--><span id="annual AT {{ grade }}"></span><br>
                <input type="checkbox" checked><!--nullify certificate; do assign points--><span id="annual FA {{ grade }}"></span><br>
                <input type="checkbox" checked><!--nullify certificate; do assign points--><span id="annual SC {{ grade }}"></span> <span id="annual PL {{ grade }}"></span>

<br>
            </td>
        </tr>

    <!--Where all the points are displayed-->
        <tr>
            <td style="text-align: center">
                {{ config.se_help_text }}
            </td>
            <td style="text-align: center">
                {{ config.at_help_text }}
            </td>
            <td style="text-align: center">
                {{ config.fa_help_text }}
            </td>
        </tr>
    <tr>
        <td height="10" rowspan="2"><table style="border-collapse: collapse;">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "SE" point.type.catagory %}
                        <tr>
                            <td style="border: none;"><div class="tooltip">
                                {% if point.amount <= 6 %}<span class="point">{{ point.amount }}</span>{% else %}<span class="point" style="color:darkgoldenrod">{{ point.amount }}</span>{% endif %}
                                <span style="display: inline-block; width: 2ch;">&#9;</span>
                                <span class="code description">{{ point.type.description }}</span>
                                <span class="tooltiptext">Entered by: {% if point.entered_by %}{{ point.entered_by.username }}{% else %}Importer{% endif %}; <br> Code ID {{ point.type.code }}</span>
                            </div></td><td style="border: none;">
                                <input type="submit" style="vertical-align: middle;" name="deletePoint {{ grade }} {{ point.type }}" value="X" {% if user.no_entry %}disabled{% endif %}/>
                            </td>
                        </tr>
                    {% endifequal %}
                {% endfor %}
        </table></td>
        <td height="10" rowspan="2"><table style="border-collapse: collapse;">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "AT" point.type.catagory %}
                        <tr>
                            <td style="border: none;"><div class="tooltip">
                                {% if point.amount <= 6 %}<span class="point">{{ point.amount }}</span>{% else %}<span class="point" style="color:darkgoldenrod">{{ point.amount }}</span>{% endif %}
                                <span style="display: inline-block; width: 2ch;">&#9;</span>
                                <span class="code description">{{ point.type.description }}</span>
                                <span class="tooltiptext">Entered by: {% if point.entered_by %}{{ point.entered_by.username }}{% else %}Importer{% endif %}; <br> Code ID {{ point.type.code }}</span>
                            </div></td><td style="border: none;">
                                <input type="submit" style="vertical-align: middle;" name="deletePoint {{ grade }} {{ point.type }}" value="X" {% if user.no_entry %}disabled{% endif %}/>
                            </td>
                        </tr>
                    {% endifequal %}
                {% endfor %}
        </table></td>
        <td height="10" rowspan="2"><table style="border-collapse: collapse;">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "FA" point.type.catagory %}
                        <tr>
                            <td style="border: none;"><div class="tooltip">
                                {% if point.amount <= 6 %}<span class="point">{{ point.amount }}</span>{% else %}<span class="point" style="color:darkgoldenrod">{{ point.amount }}</span>{% endif %}
                                <span style="display: inline-block; width: 2ch;">&#9;</span>
                                <span class="code description">{{ point.type.description }}</span>
                                <span class="tooltiptext">Entered by: {% if point.entered_by %}{{ point.entered_by.username }}{% else %}Importer{% endif %}; <br> Code ID {{ point.type.code }}</span>
                            </div></td><td style="border: none;">
                                <input type="submit" style="vertical-align: middle;" name="deletePoint {{ grade }} {{ point.type }}" value="X" {% if user.no_entry %}disabled{% endif %}/>
                            </td>
                        </tr>
                    {% endifequal %}
                {% endfor %}
        </table></td>
        <td height="15" colspan="2">
            <strong>Cumulative Awards</strong>
        </td>
    </tr>

      <!--CUMULATIVE AWARDS-->
    <tr>
        <td>
            Silver<br>
            Gold <br>
            Gold + <br>
            Platinum <br>
            Big Block<br>
        </td>
        <td>
            <span id="silver {{ grade }}">Calculating...</span><br>
            <span id="gold {{ grade }}"></span><br>
            <span id="gold+ {{ grade }}"></span><br>
            <span id="platinum {{ grade }}"></span><br>
            <span id="bigblock {{ grade }}"></span><br>
        </td>
    </tr>
    </table>

<!-- Cumulative Awards Datatable-->
    <table style="border:1px solid black;" class="cumulative-table">
        <tr>
            <th colspan="4"><strong>Cumulative Totals</strong></th>
        </tr>
        <tr>
            <td>Total Points:</td><td><span id="TOTAL{{ grade }}">Calculating...</span></td>
        </tr><tr>
            <td>Service Points: </td><td><span id="SE{{ grade }}"></span></td>
        </tr><tr>
            <td>Athletics Points: </td><td><span id="AT{{ grade }}"></span></td>
        </tr><tr>
            <td>Scholar Points: </td><td><span id="SC{{ grade }}"></span></td>
        </tr><tr>
            <td>Fine Arts Points: </td><td><span id="FA{{ grade }}"></span></td>
        </tr>
    </table>
<!-- Grad Calculations Table-->
    {% ifequal grade "12" %}
        <table class="grad-calc-table">
            <tr>
                <td colspan="2">
                    <strong>Grad Calculations</strong>
                </td>
            </tr>
            <tr>
                <td>
                    11/12 Average<br>
                    11/12 Service<br>
                    11/12 Athletics<br>
                    11/12 Scholar<br>
                    11/12 Fine Arts<br>
                    11/12 All Points<br>
                </td>

                <td style="width: 120px">
                    : <span id="grad avg">Calculating...</span><br>
                    : <span id="grad se"></span><br>
                    : <span id="grad at"></span><br>
                    : <span id="grad sc"></span><br>
                    : <span id="grad fa"></span><br>
                    : <span id="grad total"></span><br>
                </td>
            </tr>
        </table>
    {% endifequal %}
    </div>
  </div>
</div>


