{% extends 'data/base.html' %}
{% load static %}

{% block title %}Processing...{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block content%}
    <h2 id="Progress">We are now processing your file in the background</h2>
    <a href="./">You may safely leave this page</a>
    <hr>
    <ol id="logs"></ol>

{% endblock %}

{% block javascript %}
    <script>

    function status (){
        var i = 0;
        $.ajax({
            url: '{% url "data:ajax_import_status" %}',
            data: {},
            dataType: 'json',
            success: function (data) {
                if(data['done']==='true') {
                    clearInterval(status_update);
                    document.getElementById('Progress').innerHTML = "We processed your file";
                    document.title = "Done"
                } else {
                    document.getElementById('Progress').innerHTML = "We are now processing your file in the background";
                    document.title = "Processing...";
                    i++;
                }
                let logs = data['logs'];
                $("ol").empty();
                for (let i = 0; i < logs.length; i++) {
                    console.log(logs[i]);
                    $("ol").append("<li>" + logs[i] + "</li>");
                }
            }
        });
    }
    const status_update = setInterval(status, 500);
    </script>
{% endblock %}