{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Help{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/help_style.css' %}">
{% endblock %}

{% block content%}
    <h1>Pages</h1>
        <h2>Direct Entry Pages</h2>
            <p>These pages allow teachers with restricted access to enter the points.&nbsp;</p>
            <p>Only a super user has access to the [&lt;&lt; Back to Default View]</p>
    <h1>Settings</h1>
        <h2>Adding or editing codes</h2>
        <h2>Principal's list thresholds</h2>
            <h3>Keyboard Controls</h3>
                <ul>
                    <li>[*] - autofocus to search. Type in student number to go directly to that student.</li>
                    <li>[enter] - submit code</li>
                </ul>
    <h1>Import Sample Files</h1>
    <ul style="list-style-type:none;">
        <li><a href="{% static "help_files/Direct Entry Import (Fill in - Service).csv" %}">Direct Entry Import (Fill in - Service)</a></li>
        <li><a href="{% static "help_files/Direct Entry Import (Fill in - Athletics).csv" %}">Direct Entry Import (Fill in - Athletics)</a></li>
        <li><a href="{% static "help_files/Direct Entry Import (Fill in - Scholar).csv" %}">Direct Entry Import (Fill in - Scholarship)</a></li>
        <li><a href="{% static "help_files/Direct Entry Import (Fill in - Fine Arts).csv" %}">Direct Entry Import (Fill in - Fine Arts)</a></li>
        <li><a href="{% static "help_files/Import New Grade 8.csv" %}">Import New Grade 8 List</a></li>
        <li><a href="{% static "help_files/Empty Student Table for Import.csv" %}">WDB Style Empty Student Table for Import</a></li>
    </ul>
{% endblock %}


