{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Help{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/help_style.css' %}">
{% endblock %}

{% block content%}
<h1>Pages</h1>
    <h2>Direct Entry Pages</h2>
        <p>These pages allow teachers with restricted access to enter the points.&nbsp;</p>
        <p>Only a super user has access to the [&lt;&lt; Back to Default View]</p>
<h1>Settings</h1>
    <h2>Adding or editing codes</h2>
    <h2>Principal's list thresholds</h2>
        <h3>Keyboard Controls</h3>
            <ul>
                <li>[*] - autofocus to search. Type in student number to go directly to that student.</li>
                <li>[enter] - submit code</li>
            </ul>
{% endblock %}


