{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/studentlist_style.css' %}">
{% endblock %}

{% block content%}
    <h2>Dashboard</h2>
    <ul>
        <li>List all login attempts with more than 5 failed attempts</li>
        <li>Recent Changes</li>
        <li>Student Statistics</li>
        <li></li>
    </ul>
{% endblock %}
