{% extends 'data/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock %}

{% block content%}
    <h2>Dashboard</h2>
    <hr>
    <div style="float: left; overflow: auto; height: 260px;">
        <table style="float: left; padding-right: 2em" class="index">
            <caption><strong>Recent Actions</strong></caption>
            <thead>
            <tr><th>Time</th><th>Action</th><th>User</th></tr>
            </thead>
        {% for log in logs %}
            <tr><td>{{ log.time|date:'M d, Y h:i:s A' }}</td><td>{{ log.message }}&emsp14; </td><td>{{ log.user }}</td></tr>
        {% endfor %}
        {% comment %}
        {% for entry in recent %}
            <tr><td>{{ entry.get_student.first }} {{ entry.get_student.last }} &emsp14; </td><td>{{ entry.amount }} Points for {{ entry.type.description }} in Grade {{ entry.Grade.grade }}&emsp14; </td><td>{% if entry.entered_by.username %}{{ entry.entered_by.username }}{% else %}Importer{% endif %}</td></tr>
        {% endfor %}
        {% endcomment %}
            <tr><td colspan="3"><a href="javascript:showData();">Show All</a></td></tr>
        </table>
    </div>
    <div style="float: left; overflow: auto; height: 260px;">
        <table style="width: 600px;" class="index">
            <caption><strong>Upcoming Events</strong></caption>
        {% if maintenance %}
            <thead>
            <tr><th>Outages</th><th>Note</th><th>Time</th></tr>
            </thead>
            {% for maintenance in maintenance %}
                <tr><td>{{ maintenance.action }}</td><td>{{ maintenance.note }}</td><td>{{ maintenance.start }} to<br> {{ maintenance.end }}</td></tr>
            {% endfor %}
        {% endif %}
                <thead>
                    <tr><th>Type</th><th>Note</th><th>Time</th></tr>
                </thead>
            {% for notice in notice %}
                <tr><td>{{ notice.title }}</td><td>{{ notice.note }}</td><td>{{ notice.start }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div style="clear: both;">
        <hr>
        <ul id="list">
            <li><button class="btn" onclick="alert('A check is being executed in the background. TODO compile sums and make report booleans. Make reports even faster')">Database Integrity Check</button></li>
            <li>Student Statistics</li>
        </ul>
    </div>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span>
            {% if notice %}
                {{ notice.0.title }}: {{ notice.0.note }} ({{ notice.0.start }})
            {% endif %}
        </span>
        <span style="margin-left:6em ">
            {% if maintenance %}
                {{ maintenance.0.action }}: Maintenance from {{ maintenance.0.start }} to {{ maintenance.0.end }}
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block javascript %}
    <script>
    function showData() {
        window.open('{% url 'data:show-all' %}', 'SHOW-ALL', 'height=400,width=600')
        /*
        const mywindow = window.open('', 'PRINT', 'height=400,width=600');
        mywindow.document.documentElement.innerHTML = '';
        var title = 'View all entries';

        mywindow.document.write('<html><head><title>' + 'View all entries' + '</title>');
        mywindow.document.write('<style>*{font-family: "Helvetica", Helvetica, sans-serif;font-size:10px;}td{white-space:nowrap;}</style>');
        mywindow.document.write('</head><body onload="injectThis()">');
        mywindow.document.write('<h3>' + 'Recent Actions | Point Grey Awards Database' + '</h3>');
        mywindow.document.write('<ul id="list"><li>Loading...</li></ul>');


        var script = injectThis.toString();
        mywindow.document.write('<script>' + script);

        //mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
    }
    </script>
{% comment %}
    <script>
    function injectThis() {
        $.ajax({
        url: '{% url "data:ajax_all_actions" %}',
        data: {},
        dataType: 'json',
        success: function (data) {
            var list = document.getElementById("list");
            var listItems = list.getElementsByTagName("li");
            var last = list.getElementsByTagName("li")[listItems.length-1];
            list.removeChild(last);
            for(let i = 0; i < data.length; i++) {
                var node = document.createElement("LI");
                var point = data[i];
                var textnode = document.createTextNode(point.student + ":\t " + point.point + " Points for " + point.description + " in Grade " + point.grade + " entered by " + point.enteredby);
                node.appendChild(textnode);
                document.getElementById("list").appendChild(node);
            }
        }})
    }
    </script>{% endcomment %}
{% endblock %}
