<!--Nav Bar-->
<div class="topnav">
    <ul>
        <li style="float: left; border-right: 1px solid #bbb;"><a href="{% url 'admin:index' %}">Administration</a></li>

        <li>
            <form action="{% url 'data:search' %}">
                <label for="query"><input style="background-color: white; color: black;" type="text" placeholder="Search.." name="query" accesskey="a" id="query" onsubmit="submitForms()"></label>
            </form>
        </li>
        {% if user.is_superuser %}
        <li><a href="{% url 'configuration:help' %}">Help</a></li>

        <li>
            <div class="dropdown">
                <button class="dropbtn"><a href="{% url 'data:index' %}">Dashboard</a></button>
                    <i class="fa fa-caret-down"></i>
                <div class="dropdown-content">
                    <a href="{% url 'data:search' %}?query=grade%3A08+active:yes">Grade 08</a>
                    <a href="{% url 'data:search' %}?query=grade%3A09+active:yes">Grade 09</a>
                    <a href="{% url 'data:search' %}?query=grade%3A10+active:yes">Grade 10</a>
                    <a href="{% url 'data:search' %}?query=grade%3A11+active:yes">Grade 11</a>
                    <a href="{% url 'data:search' %}?query=grade%3A12+active:yes">Grade 12</a>
                    <a href="{% url 'data:search' %}?query=grade%3A12+active:no">Graduated</a>
                </div>
            </div>
        </li>

        <li>
            <div class="dropdown">
                <button class="dropbtn"><a href="{% url 'data:settings' %}">Settings</a></button>
                    <i class="fa fa-caret-down"></i>
                <div class="dropdown-content">
                    <a href="{% url 'data:codes' %}">Codes</a>
                    <a href="{% url 'data:plist' %}">Modify Plist</a>
                    <a href="{% url 'data:archive' %}">Import/Export</a>
                    <a href="{% url 'users:personalisation' %}">Personalize Site</a>
                </div>
            </div>
        </li>

        <li>
            <div class="dropdown">
                <button class="dropbtn"><a href="{% url 'export:index' %}">Reports</a></button>
                    <i class="fa fa-caret-down"></i>
                <div class="dropdown-content">
                    <a href="{% url 'export:print-term' %}">Term Lists</a>
                    <a href="{% url 'export:print-annual' %}">Annual Awards</a>
                    <a href="{% url 'export:print-trophies' %}">Annual Trophies</a>
                    <a href="{% url 'export:print-grad' %}">Graduation</a>
                    <a href="{% url 'export:print-xcheck' %}">Crosscheck</a>
                </div>
            </div>
        </li>

        <li>
            <div class="dropdown">
                <button class="dropbtn"><a>Cursor Default</a></button>
                    <i class="fa fa-caret-down"></i>
                <div class="dropdown-content">
                    <a href="{% url 'users:autofocus' 1 %}">Service {% ifequal user.autofocus 1 %}✔{% endifequal %}</a> <!--pass number back to view-->
                    <a href="{% url 'users:autofocus' 2 %}">Athletics {% ifequal user.autofocus 2 %}✔{% endifequal %}</a>
                    <a href="{% url 'users:autofocus' 3 %}">Fine Arts {% ifequal user.autofocus 3 %}✔{% endifequal %}</a>
                    <a href="{% url 'users:autofocus' 4 %}">Scholar Term 1 {% ifequal user.autofocus 4 %}✔{% endifequal %}</a>
                    <a href="{% url 'users:autofocus' 5 %}">Scholar Term 2 {% ifequal user.autofocus 5 %}✔{% endifequal %}</a>
                </div>
            </div>
        </li>
        {% else %}
            <li>
            <a href="{% url 'users:personalisation' %}">Personalize Site</a>
            </li>
        {% endif %}
        <li style="border-left: 1px solid #bbb">
            <div class="dropdown">
                <button class="dropbtn"><a href="{% url 'entry:index' %}">Direct Entry</a></button>
                    <i class="fa fa-caret-down"></i>
                <div class="dropdown-content">
                    <a href="{% url 'entry:service' %}">Service</a>
                    <a href="{% url 'entry:athletics' %}">Athletics</a>
                    <a href="{% url 'entry:fine-arts' %}">Fine Arts</a>
                    <a href="{% url 'entry:scholar' %}">Scholar</a>
                </div>
            </div>
        </li>
    </ul>
</div>
