{% extends 'data/base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
{% endblock %}

{% block content%}
    <form method="get" class="search_bar">
        <label for="query">Search</label>
        <input id="query" type ="text" name="query" value="{{ query }}" size="50">

        <input type="submit" value="Enter" onclick="form.action='search';" />
        <input type="submit" value="Export" onclick="form.action='export';" />
    </form>
    {% if student_list %}
        <table id="StudentList" class="sortable">
            <thead>
                <tr>
                    <th style="padding-right: 150px">
                        <strong>Last Name</strong>
                    </th>
                    <th style="padding-right: 150px">
                        <strong>First Name</strong>
                    </th>
                    <th>
                        <strong>Student #</strong>
                    </th>
                    <th>
                        <strong>Homeroom</strong>
                    </th>
                </tr>
            </thead>
            {% for student in student_list %}
                <tr>
                    <td>
                        <a href="{% url "data:student_info" student.id %}">{{ student.last }}</a>
                    </td>
                    <td>
                        <a href="{% url "data:student_info" student.id %}">{{ student.first }}</a>
                    </td>
                    <td>
                        {{ student.student_num }}
                    </td>
                    <td>
                        {{ student.homeroom }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
