{% extends 'data/base.html' %}
{% load has_group %}
{% load static %}
{% load mathfilters %}

{% block title %}{{ student.first }} {{ student.last }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/studentinfo_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/collapsible_style.css' %}">
{% endblock %}

{% block user_custom %}
    .lbl-toggle {
        background: {{ user.collapsible_bar_colour }};
    }
{% endblock %}

{% block content%}
    <!--Student Info-->
    <h2><strong><a>{{ student.last }}, {{ student.first }} ({{ student.legal }})</a></strong></h2>
    <p style="font-size:20px"> Student #: <strong>{{ student.student_num }}</strong> | Homeroom: <strong>{{ student.homeroom }}</strong> | Sex: <strong>{{ student.sex }}</strong> | Grad Year: <strong>{{ student.grad_year}}</strong> | <a href="{% url 'admin:data_student_change' student.id %}">Edit</a></p>
    <hr>
    <form action="{% url "data:student_submit" student.id %}" id="form0" name="col form" method="post">
    {%csrf_token%}
        {% if user.is_superuser or user.can_view %}
            {% if student.cur_grade_num >= 12 %}{% include 'data/collapsible.html' with student=student grade=grade_12 %}{% endif %}
            {% if student.cur_grade_num >= 11 %}{% include 'data/collapsible.html' with student=student grade=grade_11 %}{% endif %}
            {% if student.cur_grade_num >= 10 %}{% include 'data/collapsible.html' with student=student grade=grade_10 %}{% endif %}
            {% if student.cur_grade_num >= 09 %}{% include 'data/collapsible.html' with student=student grade=grade_09 %}{% endif %}
            {% if student.cur_grade_num >= 08 %}{% include 'data/collapsible.html' with student=student grade=grade_08 %}{% endif %}
        {% else %}
            <div style="clear: both;"><h3>My Entries</h3></div>
            {% if request.user|has_group:"Service" %}
                {% include 'entry/overview.html' with type='SE' grade=student.cur_grade %}
            {% endif %}
            {% if request.user|has_group:"Athletics" %}
                {% include 'entry/overview.html' with type='AT' grade=student.grade_set.all.0 %}
            {% endif %}
            {% if request.user|has_group:"Scholar" %}
                {% include 'entry/overview.html' with type='SC' grade=student.grade_set.all.0 %}
            {% endif %}
            {% if request.user|has_group:"Fine Arts" %}
                {% include 'entry/overview.html' with type='FA' grade=student.grade_set.all.0 %}
            {% endif %}
        {% endif %}
    </form>

{% endblock %}

{% block javascript %}
<!--Script for the getting post requests-->
<script>

function submitForms() {
    if(validateForms()) document.getElementById("form0").submit();
    else alert("Replace user then press 'OK'");
}

function validateForms() {
    for(var i = 8;  i <= 12; i++) {
        if(6 < parseFloat(document.getElementById("" + i + " AT points").value)) return false;
        if(99 < parseFloat(document.getElementById("" + i + " AT code").value) && parseFloat(document.getElementById("" + i + " AT code").value) < 0) return false;

        if(100 < parseFloat(document.getElementById("" + i + " SE points").value)) return false;
        if(99 < parseFloat(document.getElementById("" + i + " SE code").value) && parseFloat(document.getElementById("" + i + " SE code").value) < 0) return false;

        if(10 < parseFloat(document.getElementById("" + i + " FA points").value)) return false;
        if(99 < parseFloat(document.getElementById("" + i + " FA code").value) && parseFloat(document.getElementById("" + i + " FA code").value) < 0) return false;

        if(100 < parseFloat(document.getElementById("" + i + " SC T1").value) || parseFloat(document.getElementById("" + i + " SC T1").value) < 0) return false;
        if(100 < parseFloat(document.getElementById("" + i + " SC T2").value) || parseFloat(document.getElementById("" + i + " SC T2").value) < 0) return false;

    }
    return true;
}

function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.
    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
        }
    }
    document.body.appendChild(form);
    form.submit();
}
</script>

<script>
//prevent submit or query from changing field
let wasEmpty = false;
$(function(){
    $('.scholar').keyup(function(e){
        if(this.value.length >= 6 && wasEmpty){
            if(parseFloat(this.value) <= this.max){
                submitForms();
            }
        }
        if(this.value.length < 6){
        wasEmpty = true;
        }
        if(e.which === 42){
            $('query').focus();
            return false;
        }
    });
});

// right arrow key for next input,
$(document).ready(function () {
    $('input').keydown(function (e) {
        if (e.keyCode === 39) {
            $(this).next('input').focus();
        }
    });
  });

// only jump to next key when value is valid
$(".inputs").keyup(function () {
    if (this.value.length === this.maxLength && parseFloat(this.value) <= this.max) {
      $(this).next('.codes').focus();
    }
});

// submit form when the code is at 2 digits
$(".codes").keyup(function () {
    if (this.value.length === this.maxLength) {
      submitForms();
      this.value = "";
    }
});

// fill in all calculating values from ajax
$(document).ready(function() {
    var student_num = {{ student.student_num }};
    $.ajax({
        url: '{% url "data:ajax_student_cumulative_data" %}',
        data: {'student_num': student_num},
        dataType: 'json',
        success: function (data) {
            // console.log(data);
            // Put in all the cumulative awards across all 5 grades
            for (let grade = 8; grade <= {{ student.cur_grade_num }}; grade++){
                if(data['silver'] !== null) document.getElementById('silver ' + grade).innerHTML = "Grade " + data['silver']; else document.getElementById('silver ' + grade).innerHTML = "";
                if(data['gold'] !== null) document.getElementById('gold ' + grade).innerHTML = "Grade " + data['gold'];
                if(data['goldplus'] !== null) document.getElementById('gold+ ' + grade).innerHTML = "Grade " + data['goldplus'];
                if(data['platinum'] !== null) document.getElementById('platinum ' + grade).innerHTML = "Grade " + data['platinum'];
                if(data['bigblock'] !== null) document.getElementById('bigblock ' + grade).innerHTML = "Grade " + data['bigblock'];

                document.getElementById('SE' + grade).innerHTML = parseFloat(data['SE' + grade]).toFixed(2);
                document.getElementById('AT' + grade).innerHTML = parseFloat(data['AT' + grade]).toFixed(2);
                document.getElementById('SC' + grade).innerHTML = parseFloat(data['SC' + grade]).toFixed(2);
                document.getElementById('FA' + grade).innerHTML = parseFloat(data['FA' + grade]).toFixed(2);
                document.getElementById('TOTAL' + grade).innerHTML = parseFloat(data['TOTAL' + grade]).toFixed(2);

                if(data['annual SE ' + grade] >= 9.5) document.getElementById('annual SE ' + grade).innerHTML = "Service"; else document.getElementById('annual SE ' + grade).innerHTML = "";
                if(data['annual AT ' + grade] >= 9.5) document.getElementById('annual AT ' + grade).innerHTML = "Athletics";
                if(data['annual FA ' + grade] >= 9.5) document.getElementById('annual FA ' + grade).innerHTML = "Fine Arts";
                if(data['annual HR ' + grade]) document.getElementById('annual SC ' + grade).innerHTML = "Scholarship";
                if(data['annual PL ' + grade]) document.getElementById('annual PL ' + grade).innerHTML = "PL";

                document.getElementById('annual SE' + grade + ' total').innerHTML = parseFloat(data['annual SE ' + grade]).toFixed(2);
                document.getElementById('annual AT' + grade + ' total').innerHTML = parseFloat(data['annual AT ' + grade]).toFixed(2);
                document.getElementById('annual FA' + grade + ' total').innerHTML = parseFloat(data['annual FA ' + grade]).toFixed(2);
                document.getElementById('annual SC' + grade + ' total').innerHTML = parseFloat(data['annual SC ' + grade]).toFixed(2);
            }
            if (12 <= {{ student.cur_grade_num }}) {
                document.getElementById('grad avg').innerHTML = parseFloat(data['gradAVG']).toFixed(2) + "  %";
                document.getElementById('grad se').innerHTML = parseFloat(data['gradSE']).toFixed(2) + "  Points";
                document.getElementById('grad at').innerHTML = parseFloat(data['gradAT']).toFixed(2) + "  Points";
                document.getElementById('grad sc').innerHTML = parseFloat(data['gradSC']).toFixed(2) + "  Points";
                document.getElementById('grad fa').innerHTML = parseFloat(data['gradFA']).toFixed(2) + "  Points";
                document.getElementById('grad total').innerHTML = parseFloat(data['gradTOTAL']).toFixed(2) + "  Points";
            }
       }
    });
    $.ajax({
        url: '{% url "data:ajax_student_points_data" %}',
        data: {'student_num': student_num},
        dataType: 'json',
        success: function (data) {
            //console.log(data)
        }
    })
});

function validate(type) {
    switch(type) {
        case 'SE':
            alert("This nullifies a student's standing for the annual SERVICE certificate. This does not impact the student's cumulative points total.\n\n" +
                "Checked = Student will receive the SERVICE certificate\n\n" +
                "Unchecked = Student will not receive the SERVICE certificate");
            break;
        case 'AT':
            alert("This nullifies a student's standing for the annual ATHLETIC certificate. This does not impact the student's cumulative points total.\n\n" +
                "Checked = Student will receive the ATHLETIC certificate\n\n" +
                "Unchecked = Student will not receive the ATHLETIC certificate");
            break;
        case 'SC':
        alert("This nullifies a student's standing for the annual HONOUR ROLL/PRINCIPAL'S certificate. This does not impact the student's cumulative points total.\n\n" +
            "Checked = Student will receive the HONOUR ROLL/PRINCIPAL'S certificate\n\n" +
            "Unchecked = Student will not receive the HONOUR ROLL/PRINCIPAL'S certificate");
            break;
        case 'FA':
            alert("This nullifies a student's standing for the annual FINE ARTS certificate. This does not impact the student's cumulative points total.\n\n" +
                "Checked = Student will receive the FINE ARTS certificate\n\n" +
                "Unchecked = Student will not receive the FINE ARTS certificate");
            break;
        case 'T1':
            alert("This nullifies a student's academic points for Term 1. This impact the student's cumulative points total.\n\n" +
                "Checked = Student will receive points gained from their academic standing\n\n" +
                "Unchecked = Student will not receive points gained from their academic standing");
            break;
        case 'T2':
            alert("This nullifies a student's academic points for Term 2. This impacts the student's cumulative points total.\n\n" +
                "Checked = Student will receive points gained from their academic standing\n\n" +
                "Unchecked = Student will not receive points gained from their academic standing");
            break;
        default:
            alert
            ("This nullifies a student's standing for annual/cumulative awards.\n\n" +
                "Checked = Points are accounted for/Student will receive the selected certificate\n\n" +
                "Unchecked = Points are removed from the cumulative total/Student will not receive the selected certificate\n\n");
    }
    submitForms();
}
</script>
{% endblock %}