<h2>Athletic Candidates</h2>

<div id="AnnualList">
    {% for student in student_list %}
        <table>
            <tr>
                <td>CANDIDATE: </td>
                <td colspan="5">{{ student.last }}, {{ student.first }} ({{ student.legal }}) ({{ student.homeroom }})</td>

                {% for gr in student.all_grades %}
                    <tr>
                    {% if gr.grade <= student.cur_grade_num %}
                        <td>GR {{ gr.grade }}:</td>{% for point in gr.points_set.all %}
                            {% ifequal "AT" point.type.catagory %}
                                <td>
                                    <span class="point">{{ point.amount }}</span>
                                    <span class="code description">{{ point.type.description }}</span>
                                    <span>&emsp;</span>
                                </td>
                            {% endifequal %}
                        {% endfor %}</tr>
                    {% endif %}
                {% endfor %}
            <tr>
                {% for gr in student.all_grades %}
                    {% ifequal gr.grade grade %}
                        <td>TOTAL:</td>
                        <td>Current Year: {{ gr.AT_total|floatformat:"2" }}</td>
                        <td>Cumulative: {{ gr.cumulative_AT|floatformat:"2" }}</td> <!--TODO get cumulative totals-->
                    {% endifequal %}
                {% endfor %}
            </tr>
        </table>
        <hr>
    {% endfor %}
</div>