{% load mathfilters %}
<h2>Scholar Candidates</h2>

<div id="AnnualList">
    {% for student in student_list %}
        <table>
            <tr>
                <td>CANDIDATE: </td>
                <td colspan="5">{{ student.last }}, {{ student.first }} ({{ student.legal }}) ({{ student.homeroom }})</td>
            </tr>
                {% for gr in student.all_grades %}
                    {% ifequal gr.grade grade %}
                        <tr><td>Grade {{ grade }} T1: {{ gr.term1_avg|floatformat:"3" }}</td><td style="padding-left: 15px">Grade {{ grade }} T2: {{ gr.term2_avg|floatformat:"3" }}</td><td style="padding-left: 15px">Year Avg: {{ gr.term1_avg|addition:gr.term1_avg|div:2|floatformat:"3" }}</td></tr>
                    {% endifequal %}
                {% endfor %}
        </table>
        <hr>
    {% endfor %}
</div>
