{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% block title %}Import | {{ site_title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
<a href="{% url 'admin:index' %}">{% trans 'Data' %}</a> &rsaquo;
<a href="{% url 'admin:index' %}">{% trans 'Students' %}</a> &rsaquo;
Import
</div>
{% endblock %}

{% block content %}
    <a href="{% static "configuration/help_files/Import New Grade 8.csv" %}">CLICK HERE to Download Template File</a>
    <p>In order to upload the new grade 8's to the database, the template here MUST be used.</p>
    <form method="post" enctype="multipart/form-data">
        <input class="clearable-file-input" type="file" name="file" id="file" onchange="form.submit()" accept=".csv">
        {% csrf_token %}
    </form>
{% endblock %}


