{% load staticfiles %}
{% load mathfilters %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/collapsible_style.css' %}">
</head>

<div class="wrap-collapsible">
    <!--Comment out the following line to remove the disable NOT AT PG-->
  <input id="{{ grade }}" class="toggle" type="checkbox" {% ifequal grade current_grade %} checked {% endifequal %}>

  <label for="{{ grade }}" class="lbl-toggle">
      {% ifequal grade current_grade %}
        <strong>
    {% endifequal %}

        Grade {{ grade }}

    {% ifequal grade current_grade %}
        </strong>
        {% if month > "7" %}
            ({{ year }} - {{ year|add:1 }})
            {% else %}
            ({{ year|add:-1 }} - {{ year }})
        {% endif %}
    {% endifequal %}
    {% if year|add:grade < student.date_added|date:"Y"|abs|add:current_grade %}
        <strong>NOT AT PG</strong>
    {% endif %}
  </label>

  <div class="collapsible-content">
    {%csrf_token%}

    <div class="content-inner">
      <table border="1" class="main-table" >
    <!-- Put all the service stuff here in the table style="float: left;" -->
        <tr>
            <!-- Totals and Table headers-->
            <td>Grade: {{ grade }}</td>
            <td class="entry-table-heading"><strong>Service</strong> {{ grade_object.SE_total|floatformat:1 }} Points</td>
            <td class="entry-table-heading"><strong>Athletics</strong> {{ grade_object.AT_total|floatformat:1 }} Points</td>
            <td class="entry-table-heading"><strong>Fine Arts</strong> {{ grade_object.FA_total|floatformat:1 }} Points</td>
            <td><strong>Scholar</strong> {{ grade_object.SC_total|floatformat:1 }} Points</td>
            <td><strong>Annual Awards</strong></td>
        </tr>
        <tr>
            <td rowspan="4">
                <!-- get current year-->
                {% if month > "7" %}
                    {{ year|sub:current_grade|add:grade|add:"1" }}
                    <br>
                    {{ year|sub:current_grade|add:grade }}
                {% else %}
                    {{ year|sub:current_grade|add:grade }}
                    <br>
                    {{ year|sub:current_grade|add:grade|add:"-1" }}
                {% endif %}
                <br>

                <hr>
                {{ student.currentyear|slice:"5:8" }}
                <button onclick="nullify()" class="btn danger">NULLIFY</button>
                <p>Comments</p>
                <textarea title="anecdote" name="anecdote{{ grade }}" class="text" rows="5" cols="25" form="form0" >{{ grade_object.anecdote }}</textarea>

            <!-- DATA ENTRY HAPPENS HERE -->

            <td>
                <label for="service">Points: </label>
                <input class="inputs" id="service" type="number" name="{{grade}} SE points" maxlength="4" {% ifequal grade current_grade %} autofocus {% endifequal %}>
                <input class="codes" id="service" type="number" name="{{grade}} SE code" maxlength="2">
            </td>

            <td>
                <label for="athletics">Points: </label>
                <input class="inputs" id="athletics" type="number" name="{{grade}} AT points" maxlength="4">
                <input class="codes" id="athletics" type="number" name="{{grade}} AT code" maxlength="2">
            </td>

            <td>
                <label for="fine_arts">Points: </label>
                <input class="inputs" id="fine_arts" type="number" name="{{grade}} FA points" maxlength="4">
                <input class="codes" id="fine_arts" type="number" name="{{grade}} FA code" maxlength="2">
            </td>

            <td rowspan="2">
                    <label for="scholar">T1 Average: </label>
                    <input id="scholar" type="number" size="5" name="{{grade}} SC T1" maxlength="3" value="{{ scholar.term1|floatformat:"3" }}" >
                    <br>

                    <label for="scholar">T2 Average: </label>
                    <input id="scholar" type="number" size="5" name="{{grade}} SC T2" maxlength="3" value="{{ scholar.term2|floatformat:"3" }}" >
                    <br>

                    <label for="scholar">T1 Plist:
                        {% ifequal grade "8" %}{{ plist.grade8_t1 }}{% endifequal %}
                        {% ifequal grade "9" %}{{ plist.grade9_t1 }}{% endifequal %}
                        {% ifequal grade "10" %}{{ plist.grade10_t1 }}{% endifequal %}
                        {% ifequal grade "11" %}{{ plist.grade11_t1 }}{% endifequal %}
                        {% ifequal grade "12" %}{{ plist.grade12_t1 }}{% endifequal %}%
                    </label><br>
                    <label for="scholar">T2 Plist:
                        {% ifequal grade "8" %}{{ plist.grade8_t2 }}{% endifequal %}
                        {% ifequal grade "9" %}{{ plist.grade9_t2 }}{% endifequal %}
                        {% ifequal grade "10" %}{{ plist.grade10_t2 }}{% endifequal %}
                        {% ifequal grade "11" %}{{ plist.grade11_t2 }}{% endifequal %}
                        {% ifequal grade "12" %}{{ plist.grade12_t2 }}{% endifequal %}%
                    </label>
            </td>
            <td rowspan="2">
                {% if grade_object.SE_total >= 9.5 %}Service{% endif %}<br>
                {% if grade_object.AT_total >= 9.5 %}Athletics{% endif %}<br>
                {% if grade_object.FA_total >= 9.5 %}Fine Arts{% endif %}<br>
                {% if scholar.term1 >= 79.45 and scholar.term1 >= 79.45 %}Scholar{% endif %} + (Plist)<br>
            </td>
        </tr>
    <!--Where all the points are displayed-->
        <tr>
            <td align="center">
                Points | Code <!--Display Annual Totals Here-->
            </td>
            <td align="center">
                Points | Code
            </td>
            <td align="center">
                Points | Code
            </td>
        </tr>
    <tr>
        <td height="10" rowspan="2">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "SE" point.type.catagory %}
                            <span class="point">{{ point.amount }}</span>
                            <span style="display: inline-block; width: 2ch;">&#9;</span>
                            <span class="code description">{{ point.type.description }}</span>
                             <input type="submit" name="deletePoint {{ grade }} {{ point.type }}" value="X" />
                            <br>
                    {% endifequal %}
                {% endfor %}

        </td>
        <td height="10" rowspan="2">
            <table width="100%" class="data-table">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "AT" point.type.catagory %}
                        <span class="point">{{ point.amount }}</span>
                        <span style="display: inline-block; width: 2ch;">&#9;</span>
                        <span class="code description">{{ point.type.description}}</span>
                        <input type="submit" name="deletePoint {{ grade }} {{ point.type }}" value="X" />
                        <br>
                    {% endifequal %}
                {% endfor %}
            </table>
        </td>
        <td height="10" rowspan="2">
            <table width="100%" class="data-table">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "FA" point.type.catagory %}
                        <span class="point">{{ point.amount }}</span>
                        <span style="display: inline-block; width: 2ch;">&#9;</span>
                        <span class="code description">{{ point.type.description}}</span>
                        <input type="submit" name="deletePoint {{ grade }} {{ point.type }}" value="X" />
                        <br>
                    {% endifequal %}
                {% endfor %}
            </table>
        </td>
        <td height="15" colspan="2">
            <strong>Pins</strong>
        </td>
    </tr>
      <!--CUMULATIVE AWARDS-->
    <tr>
        <td>
            Silver<br>
            Gold <br>
            Gold + <br>
            Platinum <br>
            Big Block<br>
        </td>
        <td>
            {% if grade_object.cumulative_SE >= 9.5 and grade_object.cumulative_SE|addition:grade_object.cumulative_AT|addition:grade_object.cumulative_SC|addition:grade_object.cumulative_FA >= 49.5 %}
            Achieved<!--Silver, Put the year in here-->
            {% endif %}<br>

            {% if grade_object.cumulative_SE >= 29.5 and grade_object.cumulative_SE|addition:grade_object.cumulative_AT|addition:grade_object.cumulative_SC|addition:grade_object.cumulative_FA >= 89.5 %}
            Achieved<!--Gold, Put the year in here-->
            {% endif %}<br>

            {% if grade_object.cumulative_SE >= 29.5 and grade_object.cumulative_SE|addition:grade_object.cumulative_AT|addition:grade_object.cumulative_SC|addition:grade_object.cumulative_FA >= 109.5 and SE_11_total > 19.5 %}
            Achieved<!--Gold+, Put the year in here-->
            {% endif %}<br>

            {% if grade_object.cumulative_SE >= 79.5 and grade_object.cumulative_SE|addition:grade_object.cumulative_AT|addition:grade_object.cumulative_SC|addition:grade_object.cumulative_FA >= 129.5 and SE_11_total > 19.5 and SE_12_total > 19.5 %}
            Achieved<!--Platinum, Put the year in here-->
            {% endif %}<br>

            {% if grade_object.cumulative_AT >= 59.5 %}
            Achieved
            {% endif %}<br>
        </td>
    </tr>
    </table>











<!-- Cumulative stuff and grad awards-->
    <table border="0" class="cumulative-table" frame="box">
        <tr>
            <th colspan="4" style="border:1px solid black;"><strong>Cumulative Awards</strong></th>
        </tr>
        <tr>
            <td>Total Points:</td><td>{{ grade_object.cumulative_SE|addition:grade_object.cumulative_AT|addition:grade_object.cumulative_SC|addition:grade_object.cumulative_FA|floatformat:"2" }}</td>
        </tr><tr>
            <td>Service Points: </td><td>{{ grade_object.cumulative_SE|floatformat:"2" }}</td>
        </tr><tr>
            <td>Athletics Points: </td><td>{{ grade_object.cumulative_AT|floatformat:"2" }}</td>
        </tr><tr>
            <td>Scholar Points: </td><td>{{ grade_object.cumulative_SC|floatformat:"2" }}</td>
        </tr><tr>
            <td>Fine Arts Points: </td><td>{{ grade_object.cumulative_FA|floatformat:"2" }}</td>
        </tr>
    </table>



<!-- Grad Calculations Table-->
    {% ifequal grade "12" %}
        <table class="grad-calc-table">
            <tr>
                <td colspan="2">
                    <strong>Grad Calculations</strong>
                </td>
            </tr>
            <tr>
                <td>
                    11/12 Average<br>
                    11/12 Service<br>
                    11/12 Athletics<br>
                    11/12 Scholar<br>
                    11/12 Fine Arts<br>
                    11/12 All Points<br>
                </td>

                <td width="120px">
                    : {{ student.average_11_12|floatformat:"2" }} %<br>
                    : {{ student.SE_11_12_total|floatformat:"2" }} Points<br>
                    : {{student.AT_11_12_total|floatformat:"2" }} Points<br>
                    : {{ student.SC_11_12_total|floatformat:"2" }} Points <br>
                    : {{ student.FA_11_12_total|floatformat:"2" }} Points<br>
                    : {{ student.all_11_12_total|floatformat:"2" }} Points<br>
                </td>
            </tr>
        </table>
    {% endifequal %}
    </div>
  </div>
</div>
<script>
    $(".inputs").keyup(function () {
    if (this.value.length == this.maxLength) {
      $(this).next('.codes').focus();
    }
});
    $(".codes").keyup(function () {
    if (this.value.length == this.maxLength) {
        submitForms();
        this.value = ''
    }
});
</script>


