{% load staticfiles %}


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/collapsible_style.css' %}">
</head>

<div class="wrap-collapsible">
  <input id="{{ grade }}" class="toggle" type="checkbox" {% ifequal grade student.homeroom|slice:":2" %} checked {% endifequal %}>
  <label for="{{ grade }}" class="lbl-toggle">
      {% ifequal grade student.homeroom|slice:":2" %}
        <strong>
    {% endifequal %}

        Grade {{ grade }}

    {% ifequal grade student.homeroom|slice:":2" %}
        </strong>
        ({{ year }} - {{ year|add:1 }})
    {% endifequal %}
  </label>

  <div class="collapsible-content">
    {%csrf_token%}

    <div class="content-inner">
      <table border="1" class="data-table" style="float: left;">
    <!-- Put all the service stuff here in the table -->
        <tr>
            <!-- Totals and Table headers-->
            <td>Grade: {{ grade }}</td>
            <td><strong>Service</strong> {{ student.servicetotal|slice:"0:3" }} </td>
            <td><strong>Athletics</strong> {{ student.athleticstotal|slice:"0:3" }} </td> <td><strong>Fine Arts</strong> {{ student.schoclartotal|slice:"0:3" }} </td>
            <td><strong>Scholar</strong> {{ student.fineartstotal|slice:"0:3" }} </td>
            <td><strong>Annual Awards</strong></td>
        </tr>
        <tr>
            <td rowspan="4">
                <!-- get current year-->
                {{ year }}
                <br>
                {{ year|add:1 }}
                <br>
                <hr>
                {{ student.currentyear|slice:"5:8" }}
                <button onclick="nullify()" class="btn danger">NULLIFY</button>
                <p>Anecdotes</p>
                <textarea rows="5" cols="25">{{ student.anecdotes }}</textarea>

            <!-- DATA ENTRY HAPPENS HERE -->

            <td>
                <label for="service">Points: </label>
                <input id="service" type="number" name="{{grade}} SE points" maxlength="3" value="{{ service }}" >
                <input id="service" type="number" name="{{grade}} SE code" maxlength="3" value="{{ service }}" >
                <div style="overflow-y:auto;">
                    <table>
                    {% for service in services %}
                    <tr><td>{{ service }}</td></tr>
                    {% endfor %}
                    </table>
                </div>
            </td>

            <td>
                <label for="athletics">Points: </label>
                <input id="athletics" type="number" name="{{grade}} AT points" maxlength="3" value="{{ athletics }}" >
                <input id="athletics" type="number" name="{{grade}} AT code" maxlength="3" value="{{ service }}" >
            </td>

            <td>
                <label for="fine_arts">Points: </label>
                <input id="fine_arts" type="number" name="{{grade}} FA points" maxlength="3" value="{{ fine_arts }}" >
                <input id="fine_arts" type="number" name="{{grade}} FA code" maxlength="3" value="{{ service }}" >
            </td>

            <td rowspan="2">
                    <label for="scholar">T1 Average: </label>
                    <input id="scholar" type="number" size="5" name="{{grade}} SC T1" maxlength="3" value="{{ scholar }}" >
                    <br>
                    <label for="scholar">T2 Average: </label>
                    <input id="scholar" type="number" size="5" name="{{grade}} SC T2" maxlength="3" value="{{ scholar }}" >
            </td>
            <td rowspan="2">
                Display certificates <br> earned
            </td>
        </tr>
    <!--Where all the points are displayed-->
        <tr>
            <td align="center">
                Points | Code
            </td>
            <td align="center">
                Points | Code
            </td>
            <td align="center">
                Points | Code
            </td>
        </tr>
    <tr>
        <td height="160" rowspan="2">
            Points
        </td>
        <td height="160" rowspan="2">
            Points
        </td>
        <td height="160" rowspan="2">
            Points
        </td>
        <td height="15" colspan="2">
            <strong>Pins</strong>
        </td>
    </tr>
    <tr>
        <td>
            Silver <br>
            Gold <br>
            Gold + <br>
            Platinum <br>
        </td>
        <td>
            Dates/Years
        </td>
    </tr>
    </table>

<!-- Cumulative stuff and grad awards-->
    <table border="1" style="float: left; margin-left: 20px;">
        <tr>
            <td colspan="2"><strong>Cumulative Awards</strong></td>
        </tr>
        <tr>
            <td>
                Total Points: <br>
                Service Points: <br>
                Athletics Points: <br>
                Scholar Points: <br>
                Fine Arts Points: <br>
            </td>
            <td>
                Put points here
            </td>
        </tr>
    </table>

<!-- Grad Calculations Table-->
    {% ifequal grade "12" %}
        <table style="float: left; margin-left: 20px;">
            <tr>
                <td colspan="2">
                    <strong>Grad Calculations</strong>
                </td>
            </tr>
            <tr>
                <td>
                    11/12 Average<br>
                    11/12 Service<br>
                    11/12 Athletics<br>
                    11/12 Scholar<br>
                    11/12 Fine Arts<br>
                    11/12 All Points<br>
                </td>

                <td width="120px">
                    : XX.XXX %<br>
                    : XX.X Points<br>
                    : XX.X Points<br>
                    : XX.X Points<br>
                    : XX.X Points<br>
                    : XX.X Points<br>
                </td>
            </tr>
        </table>
    {% endifequal %}
    </div>
  </div>
</div>

