{% load staticfiles %}
{% load mathfilters %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/collapsible_style.css' %}">
</head>

<div class="wrap-collapsible">
    <!--Comment out the following line to remove the disable NOT AT PG-->
  <input id="{{ grade }}" class="toggle" type="checkbox" {% ifequal grade current_grade %} checked {% endifequal %}>

  <label for="{{ grade }}" class="lbl-toggle">
      {% ifequal grade current_grade %}
        <strong>
    {% endifequal %}

        Grade {{ grade }}

    {% ifequal grade current_grade %}
        </strong>
        {% if month > "7" %}
            ({{ year }} - {{ year|add:1 }})
            {% else %}
            ({{ year|add:-1 }} - {{ year }})
        {% endif %}
    {% endifequal %}
    {% if year|add:grade < student.date_added|date:"Y"|abs|add:current_grade %}
        <strong>NOT AT PG</strong>
    {% endif %}
  </label>

  <div class="collapsible-content">
    {%csrf_token%}

    <div class="content-inner">
      <table border="1" class="main-table" >
    <!-- Put all the service stuff here in the table style="float: left;" -->
        <tr>
            <!-- Totals and Table headers-->
            <td>Grade: {{ grade }}</td>
            <td class="entry-table-heading"><strong>Service</strong> {{ student.servicetotal|slice:"0:3" }} </td>
            <td class="entry-table-heading"><strong>Athletics</strong> {{ student.athleticstotal|slice:"0:3" }} </td>
            <td class="entry-table-heading"><strong>Fine Arts</strong> {{ student.schoclartotal|slice:"0:3" }} </td>
            <td><strong>Scholar</strong> {{ student.fineartstotal|slice:"0:3" }} </td>
            <td><strong>Annual Awards</strong></td>
        </tr>
        <tr>
            <td rowspan="4">
                <!-- get current year-->
                {% if month > "7" %}
                    {{ year|sub:current_grade|add:grade|add:"1" }}
                    <br>
                    {{ year|sub:current_grade|add:grade }}
                {% else %}
                    {{ year|sub:current_grade|add:grade }}
                    <br>
                    {{ year|sub:current_grade|add:grade|add:"-1" }}
                {% endif %}
                <br>

                <hr>
                {{ student.currentyear|slice:"5:8" }}
                <button onclick="nullify()" class="btn danger">NULLIFY</button>
                <p>Anecdotes</p>
                <textarea rows="5" cols="25">{{ student.anecdotes }}</textarea>

            <!-- DATA ENTRY HAPPENS HERE -->

            <td>
                <label for="service">Points: </label>
                <input id="service" type="number" name="{{grade}} SE points" maxlength="3" {% ifequal grade current_grade %} autofocus {% endifequal %}>
                <input id="service" type="number" name="{{grade}} SE code" maxlength="3">
            </td>

            <td>
                <label for="athletics">Points: </label>
                <input id="athletics" type="number" name="{{grade}} AT points" maxlength="3">
                <input id="athletics" type="number" name="{{grade}} AT code" maxlength="3">
            </td>

            <td>
                <label for="fine_arts">Points: </label>
                <input id="fine_arts" type="number" name="{{grade}} FA points" maxlength="3">
                <input id="fine_arts" type="number" name="{{grade}} FA code" maxlength="3">
            </td>

            <td rowspan="2">
                    <label for="scholar">T1 Average: </label>
                    <input id="scholar" type="number" size="5" name="{{grade}} SC T1" maxlength="3" value="{{ scholar }}" >
                    <br>
                    <label for="scholar">T2 Average: </label>
                    <input id="scholar" type="number" size="5" name="{{grade}} SC T2" maxlength="3" value="{{ scholar }}" >
            </td>
            <td rowspan="3">
                Display certificates <br> earned
            </td>
        </tr>
    <!--Where all the points are displayed-->
        <tr>
            <td align="center">
                Points | Code <!--Display Annual Totals Here-->
            </td>
            <td align="center">
                Points | Code
            </td>
            <td align="center">
                Points | Code
            </td>
        </tr>
    <tr>
        <td height="10" rowspan="2">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "SE" point.type %}
                            {{ point.amount|floatformat:3 }}
                            <span style="display: inline-block; width: 2ch;">&#9;</span>
                            {{ point.code|stringformat:"02d" }}
                            <button onclick="">X</button>
                            <br>
                    {% endifequal %}
                {% endfor %}

        </td>
        <td height="10" rowspan="2">
            <table width="100%" class="data-table">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "AT" point.type %}
                        {{ point.amount|floatformat:3 }}
                            <span style="display: inline-block; width: 2ch;">&#9;</span>
                            {{ point.code|stringformat:"02d" }}
                            <button onclick="">X</button>
                            <br>
                    {% endifequal %}
                {% endfor %}
            </table>
        </td>
        <td height="10" rowspan="2">
            <table width="100%" class="data-table">
                {% for point in grade_object.points_set.all %}
                    {% ifequal "FA" point.type %}
                        {{ point.amount|floatformat:3 }}

                            {{ point.code|stringformat:"02d" }}
                            <button onclick="">X</button>
                            <br>
                    {% endifequal %}
                {% endfor %}
            </table>
        </td>
        <td height="15">
            <strong>Pins</strong>
        </td>
    </tr>
    <tr>
        <td>
            Silver <br>
            Gold <br>
            Gold + <br>
            Platinum <br>
        </td>
        <td>
            Dates/Years
        </td>
    </tr>
    </table>

<!-- Cumulative stuff and grad awards-->
    <table border="1" class="cumulative-table">
        <tr>
            <td colspan="2"><strong>Cumulative Awards</strong></td>
        </tr>
        <tr>
            <td>
                Total Points: <br>
                Service Points: <br>
                Athletics Points: <br>
                Scholar Points: <br>
                Fine Arts Points: <br>
            </td>
            <td>
{#                {% grade_object.points_set.all().aggregate(Avg('points')) %}#}
                <br>
                {{ grade_object.SE_total }}
                <br>
                {{ grade_object.AT_total }}
                <br>
                {{ grade_object.SC_total }}
                <br>
                {{ grade_object.FA_total }}
            </td>
        </tr>
    </table>

<!-- Grad Calculations Table-->
    {% ifequal grade "12" %}
        <table class="grad-calc-table">
            <tr>
                <td colspan="2">
                    <strong>Grad Calculations</strong>
                </td>
            </tr>
            <tr>
                <td>
                    11/12 Average<br>
                    11/12 Service<br>
                    11/12 Athletics<br>
                    11/12 Scholar<br>
                    11/12 Fine Arts<br>
                    11/12 All Points<br>
                </td>

                <td width="120px">
                    : XX.XXX %<br>
                    : XX.X Points<br>
                    : XX.X Points<br>
                    : XX.X Points<br>
                    : XX.X Points<br>
                    : XX.X Points<br>
                </td>
            </tr>
        </table>
    {% endifequal %}
    </div>
  </div>
</div>

