{% if user.username %}

{% include 'test2/navbar.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/studentlist_style.css' %}">
</head>
<br>

<button>Increase Grade</button>
<button onclick="location.href='{% url "admin:test2_student_changelist" %}';">Import Students</button>
<button>Create New Student </button>

<br>
<br>

Recently Modified Students

{% else %}

    Session Invalid <br>
<a href="/">Return home</a>

{% endif %}