{% extends 'test2/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include 'test2/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/studentlist_style.css' %}">
{% endblock %}

{% block content%}
    <br>
    <button>Increase Grade</button>
    <button onclick="location.href='{% url "admin:test2_student_import" %}';">Import Students</button>
    <button onclick="location.href='{% url "admin:test2_student_add" %}';">Create New Student </button>

    <br>
    <br>

    Recently Modified Students
{% endblock %}