{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'icon.png'%}" />
    <title>Point Grey Awards Database</title>
    <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
</head>

<div id="top stuff" style="display:inline;text-align:left; float: left;">
    <a href="http://go.vsb.bc.ca/schools/pointgrey/Awards/School%20Awards/Pages/default.aspx" target="_blank"><img src="{% static 'pglogo.png' %}" alt="My image" height="50" width="50"></a>
</div>

<div>
    <h1>Point Grey Awards Database</h1>
</div>
<hr>
<!--Nav Bar-->
<div class="topnav">
    <ul>
        <li style="float:center">
            <form action="/test2/search">
                <input type="text" placeholder="Search.." name="first">
            </form>
        </li>
        <li><a href="https://en.wikipedia.org/wiki/Get_a_life_(idiom)">Help</a></li>
        <li><a href="/test2">Student List</a></li>
        <li><a href="/settings">Settings</a></li>
        <li style="float: left"><a href="/admin">Admin Login</a></li>
    </ul>
</div>
<hr>
