{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'icon.png'%}" />
    <title>Point Grey Awards Database</title>
    <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
</head>

<div id="top stuff" style="display:inline;text-align:left; float: left;">
    <a href="http://go.vsb.bc.ca/schools/pointgrey/Awards/School%20Awards/Pages/default.aspx" target="_blank"><img src="{% static 'pglogo.png' %}" alt="My image" height="50" width="50"></a>
</div>

<div>
    <h1 style="padding-left: 60px; padding-top: 5px; padding-bottom: 0px">Point Grey Awards Database</h1>
</div>
<hr>
<!--Nav Bar-->
<div class="topnav">
    <ul>
        <li style="float: left; border-right: 1px solid #bbb;">
            <a href="/admin">Admin Login</a>
        </li>

        <li style="float:center">
            <form action="{% url 'test2:search' %}">
                <input type="text" placeholder="Search.." name="query">
            </form>
        </li>

        <li>
            <a href="https://en.wikipedia.org/wiki/Get_a_life_(idiom)">Help</a>
        </li>

        <li>
            <div class="dropdown">
                <button class="dropbtn"><a href="{% url 'test2:index' %}">Student List</a></button>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'test2:index' %}">Grade 08</a>
                    <a href="{% url 'test2:index' %}">Grade 09</a>
                    <a href="{% url 'test2:index' %}">Grade 10</a>
                    <a href="{% url 'test2:index' %}">Grade 11</a>
                    <a href="{% url 'test2:index' %}">Grade 12</a>
                </div>
            </div>
        </li>

        <li style="border-left: 1px solid #bbb">
            <div class="dropdown">
                <button class="dropbtn"><a href="{% url 'test2:settings' %}">Settings</a></button>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/reports">Generate Reports</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--
<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
<hr>
-->