{% load staticfiles %}
{% include 'test2/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/plist_style.css' %}">
</head>
<body>
<h2>Principal Lists Thresholds</h2>

<form action="{% url "test2:plist_submit" %}" name="form0" name="form" method="post">
{%csrf_token%}
<table border="1" style="float: left">
        <tr><th colspan="3">Current Year {% if month > "7" %}
            ({{ year }} - {{ year|add:1 }})
            {% else %}
            ({{ year|add:-1 }} - {{ year }})
        {% endif %}</th></tr>
        <tr><th>Grade</th><th>Term 1</th><th>Term 2</th></tr>
        <tr><td>8</td><td><input name="8 1" type="number" value="{{ plist.grade8_t1 }}"></td><td><input name="8 2" type="number" value="{{ plist.grade8_t2 }}"></td></tr>
        <tr><td>9</td><td><input name="9 1" type="number" value="{{ plist.grade9_t1 }}"></td><td><input name="9 2" type="number" value="{{ plist.grade9_t2 }}"></td></tr>
        <tr><td>10</td><td><input name="10 1" type="number" value="{{ plist.grade10_t1 }}"></td><td><input name="10 2" type="number" value="{{ plist.grade10_t2 }}"></td></tr>
        <tr><td>11</td><td><input name="11 1" type="number" value="{{ plist.grade11_t1 }}"></td><td><input name="11 2" type="number" value="{{ plist.grade11_t2 }}"></td></tr>
        <tr><td>12</td><td><input name="12 1" type="number" value="{{ plist.grade12_t1 }}"></td><td><input name="12 2" type="number" value="{{ plist.grade12_t2 }}"></td></tr>
</table>

<input type="submit">

</form>

</body>
</html>
