{% include 'test2/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h1>Advanced Search</h1>

<form action="search" method="get">
    <input type="submit" value="search" />

    <label for="query"></label>
    <input id="query" type ="text" name="query" value="{{ query }}" size="50">

</form>

{% if student_list %}
            <ul>
            {% for student in student_list %}
                <li><a href="{% url 'test2:student_info' student.id %}">{{ student.first }} {{ student.last }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

</body>
</html>