{% include 'test2/navbar.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'icon.png'%}" />
    <title>Point Grey Awards Database</title>
    <link rel="stylesheet" href="{% static 'css/settings_style.css' %}">
</head>


    <h2>Settings</h2>

<div>
    <h4><a href="{% url 'test2:codes' %}">Add / Edit a code</a></h4>
</div>

<div>
    <h4><a href="{% url 'test2:plist' %}">Principal Lists Thresholds</a></h4>
</div>

<div>
    <h4><a href="/accounts/signup">Add new user</a> </h4>
</div>

<label>
    Autofocus:
</label>

<select name="autofocus">
            <option value="SE" {% ifequal code.type "SE" %}selected{% endifequal %}>Service</option>
            <option value="AT" {% ifequal code.type "AT" %}selected{% endifequal %}>Athletics</option>
            <option value="FA" {% ifequal code.type "FA" %}selected{% endifequal %}>Fine Arts</option>
            <option value="SC" {% ifequal code.type "SC" %}selected{% endifequal %}>Scholar</option>
</select>


</html>
