{% extends 'test2/base.html' %}
{% load staticfiles %}

{% block title %}Settings{% endblock %}

{% block navbar %}
    {% include 'test2/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/settings_style.css' %}">
{% endblock %}

{% block content%}
    <h2>Settings</h2>
    <div>
        <h4><a href="{% url 'test2:codes' %}">Add / Edit a code</a></h4>
    </div>
    <div>
        <h4><a href="{% url 'test2:plist' %}">Principal Lists Thresholds</a></h4>
    </div>
{% endblock %}

