{% include 'test2/navbar.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'icon.png'%}" />
    <title>Point Grey Awards Database</title>
    <link rel="stylesheet" href="{% static 'css/studentlist_style.css' %}">
</head>


{% block content %}

{% endblock %}


    <body>
        <h1>Students</h1>
        <hr>

        {% if student_list %}
            <table class="student">
                <tr>
                    <td>
                        <strong>Name</strong>
                    </td>
                    <td style="padding-left: 100px">
                        <strong>Homeroom</strong>
                    </td>
                </tr>
            {% for student in student_list %}
                <tr>
                    <td>
                        <a href="{% url 'test2:student_info' student.id %}">{{ student.first }} {{ student.last }}</a>
                    </td>
                    <td style="padding-left: 100px">
                        {{ student.homeroom }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}

	</body>
</html>