<!--Load templetes-->
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Point Grey Awards Database</title>
    <!--
    <link href="./style.css" rel="stylesheet" type="text/css">
    -->
    <link rel="stylesheet" href="{% static 'css/studentinfo_style.css' %}">
</head>
<body>
<div id="top stuff" style="display:inline;text-align:left; float: left;">
    <a href="http://go.vsb.bc.ca/schools/pointgrey/Awards/School%20Awards/Pages/default.aspx" target="_blank"><img src="{% static 'pglogo.png' %}" alt="My image" height="50" width="50"></a>
</div>

<div>
    <h1>Point Grey Awards Database</h1>
</div>
<hr>

<!--Student Info goes here-->

<h2>{{ student.last }}, {{ student.first }}</h2>
<form method="get" action="/test2">
    <button type="submit">Student List</button>
</form>
<h3> Student #: {{ student.student_num }} Homeroom: {{ student.homeroom }} Sex: {{ student.sex }} Year Entered: {{ student.year_entered }}</h3>
<h2>CUMULATIVE TOTAL: {{ student.cumulative }}</h2>
<h3 style="color:blue">Awards</h3>

<hr>

<table>
<!-- Put all the service stuff here in the table -->
    <tr>
        <!-- Totals and Table headers-->
        <td>Grade: {{ student.homeroom|slice:"0:2" }} </td>
        <td><strong>Service</strong> {{ student.servicetotal|slice:"0:3" }} </td>
        <td><strong>Athletics</strong> {{ student.athleticstotal|slice:"0:3" }} </td>
        <td><strong>Scholar</strong> {{ student.schoclartotal|slice:"0:3" }} </td>
        <td><strong>Fine Arts</strong> {{ student.fineartstotal|slice:"0:3" }} </td>
    </tr>
    <tr>
        <td rowspan="3">
            <!-- get current year-->
            <script type="text/javascript">
            var today = new Date()
            var year = today.getFullYear()
            document.write(year)
            </script>
            <br>
            <script type="text/javascript">
            var today = new Date()
            var year = today.getFullYear()
            document.write(year + 1)
            </script>
            <br>
            {{ student.currentyear|slice:"5:8" }}
            <button class="btn danger">NULLIFY</button>
            <p>Anecdotes</p>
            <textarea rows="5" cols="25">{{ student.anecdotes }}</textarea>
        <!-- DATA ENTRY HAPPENS HERE -->
        <td>
        <form action="/enter-service/" method="post">
             <label for="service">Points: </label>
             <input id="service" type="number" name="Points: " maxlength="3" value="{{ service }}" >
        </form>
        </td>
        <td>
        <form action="/enter-athletics/" method="post">
             <label for="athletics">Points: </label>
             <input id="athletics" type="number" name="athletics" maxlength="3" value="{{ athletics }}" >
        </form>
        </td>
        <td>
        <form action="/enter-scholar/" method="post">
             <label for="scholar">Average: </label>
             <input id="scholar" type="number" size="5" name="scholar" maxlength="3" value="{{ scholar }}" >
        </form>
        </td>
        <td>
        <form action="/enter-fine_arts/" method="post">
             <label for="fine_arts">Points: </label>
             <input id="fine_arts" type="number" name="fine_arts" maxlength="3" value="{{ fine_arts }}" >
        </form>
        </td>
    </tr>
</table>
</body>
</html>