<!--Load templates-->
{% include 'test2/navbar.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'icon.png'%}" />
    <title>Point Grey Awards Database</title>
    <link rel="stylesheet" href="{% static 'css/studentinfo_style.css' %}">
</head>
<body>


{% block content %}

{% endblock %}

<!--Student Info goes here-->
<h2><strong>{{ student.last }}, {{ student.first }}</strong></h2>

<p style="font-size:20px"> Student #: <strong>{{ student.student_num }}</strong> | Homeroom: <strong>{{ student.homeroom }}</strong> | Sex: <strong>{{ student.sex }}</strong> | Year Entered: <strong>{{ student.date_added }}</strong></p>
<h3>CUMULATIVE TOTAL: {{ student.cumulative }}</h3>
<h3 style="color:blue">Points</h3>

<hr><!-- end of Student Overview-->

<button class="collapsible"><strong>Grade {{ student.homeroom|slice:"0:2" }}</strong></button>

<div class="current year">
    <table border="1" style="float: left;">
    <!-- Put all the service stuff here in the table -->
        <tr>
            <!-- Totals and Table headers-->
            <td>Grade: {{ student.homeroom|slice:"0:2" }} </td>
            <td><strong>Service</strong> {{ student.servicetotal|slice:"0:3" }} </td>
            <td><strong>Athletics</strong> {{ student.athleticstotal|slice:"0:3" }} </td>
            <td><strong>Fine Arts</strong> {{ student.schoclartotal|slice:"0:3" }} </td>
            <td><strong>Scholar</strong> {{ student.fineartstotal|slice:"0:3" }} </td>
            <td><strong>Annual Awards</strong></td>
        </tr>
        <tr>
            <td rowspan="3">
                <!-- get current year-->
                <script type="text/javascript">
                var today = new Date();
                var year = today.getFullYear();
                document.write(year)
                </script>
                <br>
                <script type="text/javascript">
                var today = new Date();
                var year = today.getFullYear();
                document.write(year + 1)
                </script>
                <br>
                <hr>
                {{ student.currentyear|slice:"5:8" }}
                <button onclick="myFunction()" class="btn danger">NULLIFY</button>
                <p>Anecdotes</p>
                <textarea rows="5" cols="25">{{ student.anecdotes }}</textarea>

            <!-- DATA ENTRY HAPPENS HERE -->

            <td>
            <form id="form0" action="{% url 'test2:student_submit' student.id %}" method="post" style="float: left">
                {% csrf_token %}
                <label for="service">Points: </label>
                <input id="service" type="number" name="Points" maxlength="3" value="{{ service }}" >
                <input id="service" type="number" name="Code" maxlength="3" value="{{ service }}" >
            </form>
                <div style="overflow-y:auto;">
                    <table>
                    {% for service in services %}
                    <tr><td>{{ service }}</td></tr>
                    {% endfor %}
                    </table>
                </div>
            </td>

            <td>
            <form action="/test2/submit" method="post">
                <label for="athletics">Points: </label>
                <input id="athletics" type="number" name="athletics" maxlength="3" value="{{ athletics }}" >
                <input id="athletics" type="number" name="Code" maxlength="3" value="{{ service }}" >
            </form>
            </td>

            <td>
            <form action="/enter-fine_arts/" method="post">
                <label for="fine_arts">Points: </label>
                <input id="fine_arts" type="number" name="fine_arts" maxlength="3" value="{{ fine_arts }}" >
                <input id="fine_arts" type="number" name="Code" maxlength="3" value="{{ service }}" >
            </form>
            </td>

            <td rowspan="2">
                <form action="/enter-scholar/" method="post">
                    <label for="scholar">T1 Average: </label>
                    <input id="scholar" type="number" size="5" name="scholar" maxlength="3" value="{{ scholar }}" >
                    <br>
                    <label for="scholar">T2 Average: </label>
                    <input id="scholar" type="number" size="5" name="scholar" maxlength="3" value="{{ scholar }}" >
                </form>
            </td>
            <td rowspan="2">
            </td>
        </tr>
    <!--Where all the points are displayed-->
        <tr>
            <td align="center">
                Hours | Code
            </td>
            <td align="center">
                Hours | Code
            </td>
            <td align="center">
                Hours | Code
            </td>
        </tr>
    </table>

<!-- Cumulative stuff and grad awards-->
    <table border="1" style="float: left; margin-left: 20px;">
        <tr>
            <td colspan="2"><strong>Cumulative Awards</strong></td>
        </tr>
        <tr>
            <td>
                Total Points: <br>
                Service Points: <br>
                Scholar Points: <br>
                Academic Points: <br>
            </td>
            <td>
                Put points here
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Grad Calculations</strong>
            </td>
        </tr>
    </table>
</div>

<!--Previous Years(s)-->

<button class="collapsible">Grade {{ student.homeroom|slice:"0:2"|add:"-1" }}</button>

<div class="previous year">
<table border="1">
<!-- Put all the service stuff here in the table -->
    <tr>
        <!-- Totals and Table headers-->
        <td>Grade: {{ student.homeroom|slice:"0:2"|add:"-1" }} </td>
        <td><strong>Service</strong> {{ student.servicetotal|slice:"0:3" }} </td>
        <td><strong>Athletics</strong> {{ student.athleticstotal|slice:"0:3" }} </td>
        <td><strong>Fine Arts</strong> {{ student.schoclartotal|slice:"0:3" }} </td>
        <td><strong>Scholar</strong> {{ student.fineartstotal|slice:"0:3" }} </td>
        <td><strong>Annual Awards</strong></td>
    <tr>
    <tr>
        <td rowspan="3">
            <!-- get current year-->
            <script type="text/javascript">
            var today = new Date();
            var year = today.getFullYear();
            document.write(year - 1)
            </script>
            <br>
            <script type="text/javascript">
            var today = new Date();
            var year = today.getFullYear();
            document.write(year)
            </script>
            <br>
            <hr>
            {{ student.currentyear|slice:"5:8" }}
            <button onclick="myFunction()" class="btn danger">NULLIFY</button>
            <p>Anecdotes</p>
            <textarea rows="5" cols="25">{{ student.anecdotes }}</textarea>
        </td>
    </tr>
</table>
</div>






<!-- Script for the collapsible-->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
</script>
<!--Script for the Nullify button-->
<script>
function myFunction() {
    var txt;
    var person = prompt("Please select:", "All");
    if (person == null || person == "") {
        txt = "User cancelled the prompt.";
    } else {
        txt = "Hello " + person + "! How are you today?";
    }
    document.getElementById("demo").innerHTML = txt;
}
</script>

<button onclick="submitForms()">Submit</button>


<!--Script for the getting post requests-->
<script>
function submitForms() {
    var i;
    for(i = 0; i < 1; i++) {
        document.getElementById("form" + i).submit();
    }
}

function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }
    }

    document.body.appendChild(form);
    form.submit();
}
</script>

</body>
</html>