<head>
<style>
@charset "UTF-8";

body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: red;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}
.danger {color: red;}
.default {color: black;}

input[type=number]{
    width: 80px;
}