/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  /*color: #444;*/
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


/*
input[type='checkbox'] {
    display: none;
}
*/

input[type=number]{
    width: 50px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
   resize: none;
}


.lbl-toggle {
    display: block;
    text-align: left;

    padding: 1rem;

    /*color: #444;*/
    background:#eee;

    cursor: pointer;

    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    background: #ccc;
}


.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 1000px;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: inherit;
    padding: .5rem 1rem;
}

.main-table td{
    border: 1px solid black;
}

.cumulative-table {
    float: left;
    margin-top: 20px;

}

.cumulative-table th {
    text-align:left;
    width: 100%;
}

.cumulative-table tr {
    text-align: right;
}
.entry-table-heading {
    width: 20%;
}

.grad-calc-table {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.point {
    display: inline-block;
    width: 60px;
    text-align: right;
}

.code {
    display: inline-block;
    text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
