{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Athletics (Direct){% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/entry_styles.css' %}">
{% endblock %}

{% block content%}
    <body>
        <h2>Direct Entry (Athletics)</h2>
        <h4>Single entry</h4>
            <form action="{% url "entry:point_submit" "AT" %}" method="post">
                <fieldset>
                    <label>Student Number: <input class="student-number" required="required" type='number' name="student-number" value=""></label>
                    <a id="name" class="name">Student not found</a> |
                    <label>Points: <input class="min" required="required" type='number' name="minutes" value="" style="width: 40px" min="0" max="6"></label>
                    <label>Code: <input class="code" required="required" type="number" name="code" value="" style="width: 40px"></label>
                    <a id="code" class="code">Code not found</a>
                    <button value="submit">Submit</button>
                    {% csrf_token %}
                </fieldset>
            </form>
        {% if user.can_upload or user.is_superuser%}
        <h4>Form entry</h4>
            <p>Visit the home/help page to access import template files<br><a href="{% url 'entry:dictionary' 'AT' %}">Click here to get the code dictionary</a></p>
            <form action="{% url 'entry:upload_file' 'AT' %}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" onchange="form.submit();">
                {% csrf_token %}
            </form>
        {% endif %}
        <h4>My recent actions</h4>
        <table>
            {% for point in points %}
                <tr><td>{{ point.Grade.Student.first }} {{ point.Grade.Student.last }} &emsp14; </td><td>: {{ point.amount }} Points for {{ point.type.description }} </td></tr>
            {% endfor %}
        </table>
    </body>
{% endblock %}
{% block javascript %}
<script>
    $(".code").keyup(function () {
           const code_num = this.value;
           console.log(code_num);
           $.ajax({
               url: '{% url "entry:validate_point_code" %}',
               data: {
                   'code': code_num,
                   'category': 'AT',
               },
               dataType: 'json',
               success: function (data) {
                       document.getElementById('code').innerHTML=data.code_description;
               }
           });
        });

        $(".student-number").keyup(function () {
           const student_id = this.value;
           $.ajax({
               url: '{% url "entry:validate_student_name" %}',
               data: {
                   'student_id': student_id
               },
               dataType: 'json',
               success: function (data) {
                       document.getElementById('name').innerHTML=data.student_name;
               }
           });
        });

        function validateForm() {
            if(document.getElementById('name').innerHTML === "Student not found"){
                return false;
            }
            if(document.getElementById('code').innerHTML === "Code not found"){
                return false;
            }
        }
</script>
{% endblock %}
