{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Athletics (Direct){% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/entry_styles.css' %}">
{% endblock %}

{% block content%}
    <body>
        <h2>Direct Entry (Athletics)</h2>
            <form action="" method="post">
                <fieldset>
                    Student Number: <input class="student-number" type='number' name="student-number" value="">
                    Minutes: <input class="min" type='number' name="minutes" value="" style="width: 40px">
                    Code: <input class="code" type="number" name="code" value="" style="width: 40px">
                    . . . . .
                    Name: <a id="name" class="name">TYPE IN STUDENT NUMBER</a> | Hours: <a id="hours" class="hours">NO HOURS DOCUMENTED</a> | Type: <a id="code" class="code">NO CODE</a>
                </fieldset>
            </form>
            <form action="{% url 'entry:upload_file' 'AT' %}" method="post" enctype="multipart/form-data">
              <input type="submit" value="Upload file" name="submit">
              <input type="file" name="file" id="file">
              {% csrf_token %}
            </form>
    </body>
{% endblock %}
{% block javascript %}
<script>
    $(".student-number").keyup(function () {
        if (this.value.length > 0) {
            document.getElementById('name').innerHTML=this.value;
        } else {
            document.getElementById('name').innerHTML="TYPE IN STUDENT NUMBER";
        }
    });

    $(".min").keyup(function () {
        if (this.value.length > 0) {
            document.getElementById('hours').innerHTML="" + Math.floor(parseInt(this.value)/60) + ":" + parseInt(this.value)%60;
        } else {
            document.getElementById('hours').innerHTML="NO HOURS DOCUMENTED";
        }
    });

    $(".code").keyup(function () {
        if (this.value.length > 0) {
            document.getElementById('code').innerHTML=this.value;
        } else {
            document.getElementById('code').innerHTML="NO CODE";
        }
    });



</script>
{% endblock %}
