{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Error{% endblock %}

{% block navbar %}
    {% include 'entry/shortened_navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
{% endblock %}

{% block content%}
You do not have permission to enter these points.
    Contact your system administrator for details or try <a href="{% url 'logout' %}">logging out</a> and refreshing.
{% endblock %}

{% block javascript %}{% endblock %}
