{% extends 'data/base.html' %}
{% load static %}

{% block title %}Fine Arts (Direct){% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/entry_styles.css' %}">
{% endblock %}

{% block content%}
    <body>
        <h2>Direct Entry (Fine Arts)</h2>
        <h4>Single entry</h4>
        <a href="#" onClick="MyWindow=window.open('{% url 'entry:dictionary' 'FA' %}','Code Dictionary','width=600,height=300'); return false;" style="color: red;">Click here to get the code dictionary</a><br><br>
            <form action="{% url "entry:point_submit" "FA" %}" method="post">
                <fieldset>
                    <label>Student Number: <input class="student-number" required="required" type='number' name="student-number" value="" autofocus></label>
                    <a id="name" class="name">Student not found</a> |
                    <label>Points: <input class="min" required="required" type='number' name="minutes" value="" style="width: 40px" min="0" max="10"></label>
                    <label>Code: <input class="code" required="required" type="number" name="code" value="" style="width: 40px"></label>
                    <a id="code" class="code">Code not found</a>
                    <button value="submit">Submit</button>
                    {% csrf_token %}
                </fieldset>
            </form>
        {% if user.can_upload or user.is_superuser %}
        <h4>Bulk entry</h4>
        <table style="width: 100%; border-collapse: collapse; " border="1">
        <tr>
            <td>
                <h4>Bulk Upload Template</h4>
                <p>Only this CSV template works for bulk upload</p>
                <a href="{% static "help_files/Direct Entry Import (Fill in - Fine Arts).csv" %}">Download File</a>
            </td>
            <td>
                <h4>File Validation</h4>
                <p>Upload a file here to check the file for errors.</p>
                <form action="{% url 'entry:check_file' 'FA' %}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" onchange="form.submit();" accept=".csv">
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <h4>Form entry</h4>
                <p>Visit the home/help page to access import template files</p>
                <form action="{% url 'entry:upload_file' 'FA' %}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" onchange="form.submit();" accept=".csv">
                    {% csrf_token %}
                </form>
            </td>
        </tr>
        </table>

    {% endif %}
        <h4>My recent actions</h4>
        <form action="{% url "entry:point_submit" "FA" %}" name="single" method="post">
        {% csrf_token %}
            <table>
                {% for point in points %}
                    <tr><td>{{ point.get_student.first }} {{ point.get_student.last }} &emsp14; </td><td>: {{ point.amount }} Points for {{ point.type.description }} </td><td><input type="submit" style="vertical-align: middle;" name="deletePoint {{ point.id }}" value="X"></td></tr>
                {% endfor %}
            </table>
        </form>
    </body>
{% endblock %}
{% block javascript %}
<script>
    $(".code").keyup(function () {
           const code_num = this.value;
           console.log(code_num);
           $.ajax({
               url: '{% url "entry:validate_point_code" %}',
               data: {
                   'code': code_num,
                   'category': 'FA',
               },
               dataType: 'json',
               success: function (data) {
                       document.getElementById('code').innerHTML=data.code_description;
               }
           });
        });

        $(".student-number").keyup(function () {
           const student_id = this.value;
           $.ajax({
               url: '{% url "entry:validate_student_name" %}',
               data: {
                   'student_id': student_id
               },
               dataType: 'json',
               success: function (data) {
                       document.getElementById('name').innerHTML=data.student_name;
                       if(data.student_name !== "Student not found") document.getElementsByName('minutes')[0].focus();
               }
           });
        });

        function validateForm() {
            if(document.getElementById('name').innerHTML === "Student not found"){
                return false;
            }
            if(document.getElementById('code').innerHTML === "Code not found"){
                return false;
            }
        }



</script>
{% endblock %}
