{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Fine Arts (Direct){% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/entry_styles.css' %}">
{% endblock %}

{% block content%}
    <body>
        <h2>Direct Entry (Fine Arts)</h2>
        <h4>Single entry</h4>
            <form action="{% url "entry:point_submit" "FA" %}" method="post">
                <fieldset>
                    Student Number: <input class="student-number" type='number' name="student-number" value="">
                    Points: <input class="min" type='number' name="minutes" value="" style="width: 40px" min="0" max="10">
                    Code: <input class="code" type="number" name="code" value="" style="width: 40px">
                    . . . . .
                    Name: <a id="name" class="name">TYPE IN STUDENT NUMBER</a> | Type: <a id="code" class="code">NO CODE</a>
                    <button value="submit">Submit</button>
                    {% csrf_token %}
                </fieldset>
            </form>
        <h4>Form entry</h4>
            <p>Visit the home/help page to access import template files</p>
            <form action="{% url 'entry:upload_file' 'FA' %}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" onchange="form.submit();">
                {% csrf_token %}
            </form>
        <h4>My recent actions</h4>
    </body>
{% endblock %}
{% block javascript %}
<script>
    $(".code").keyup(function () {
           const code_num = this.value;
           console.log(code_num);
           $.ajax({
               url: '{% url "entry:validate_point_code" %}',
               data: {
                   'code': code_num,
                   'category': 'FA',
               },
               dataType: 'json',
               success: function (data) {
                       document.getElementById('code').innerHTML=data.code_description;
               }
           });
        });

        $(".student-number").keyup(function () {
           const student_id = this.value;
           $.ajax({
               url: '{% url "entry:validate_student_name" %}',
               data: {
                   'student_id': student_id
               },
               dataType: 'json',
               success: function (data) {
                       document.getElementById('name').innerHTML=data.student_name;
               }
           });
        });



</script>
{% endblock %}
