{% extends 'data/base.html' %}
{% load static %}

{% block title %}Direct Entry{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/entry_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
{% endblock %}

{% block content%}
    <h2>Dashboard</h2>
    <h4>Viewing a student</h4>
    <p>To view a student file, type in the student number, first name or last name in the white search bar at the right.</p>
    <h4>My recent actions</h4>
    {% if recent %}
    <table>
        <thead>
        <tr><th>&emsp14;Student&emsp14;</th><th>Point</th></tr>
        </thead>
        {% for point in recent %}
            <tr><td>{{ point.get_student.first }} {{ point.get_student.last }} &emsp14; </td><td>: {{ point.amount }} Points for {{ point.type.description }}</td></tr>
        {% endfor %}
    </table>
    {% else %}
        None currently.
    {% endif %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span>
            {% if notice %}
                {{ notice.0.title }}: {{ notice.0.note }} ({{ notice.0.start }})
            {% endif %}
        </span>
        <span style="margin-left:6em ">
            {% if maintenance %}
                {{ maintenance.0.action }}: Maintenance from {{ maintenance.0.start }} to {{ maintenance.0.end }}
            {% endif %}
        </span>
    </div>
{% endblock %}



{% block javascript %}{% endblock %}
