{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Direct Entry{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/entry_style.css' %}">
{% endblock %}

{% block content%}
    <h2>Dashboard</h2>
    <h4>Sample Input Files</h4>
    <ul>
        <li><a href="{% static "help_files/Direct Entry Import (Fill in - Service).csv" %}">Direct Entry Import (Fill in - Service)</a></li>
        <li><a href="{% static "help_files/Direct Entry Import (Fill in - Athletics).csv" %}">Direct Entry Import (Fill in - Athletics)</a></li>
        <li><a href="{% static "help_files/Direct Entry Import (Fill in - Scholar).csv" %}">Direct Entry Import (Fill in - Scholarship)</a></li>
        <li><a href="{% static "help_files/Direct Entry Import (Fill in - Fine Arts).csv" %}">Direct Entry Import (Fill in - Fine Arts)</a></li>
    </ul>
    <h4>My recent actions</h4>
    <table>
        <thead>
        <tr><th>Student</th><th>Point</th></tr>
        </thead>
    {% for log in recent %}
        <tr><td>{{ log.Grade.Student.first }} {{ log.Grade.Student.last }} &emsp14; </td><td>: {{ log.amount }} Points for {{ log.type.description }}</td></tr>
    {% endfor %}
    </table>
{% endblock %}



{% block javascript %}{% endblock %}
