{% extends 'data/base.html' %}
{% load static %}

{% block title %}Scholar (Direct){% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/entry_styles.css' %}">
{% endblock %}

{% block content%}
    <body>
        <h2>Direct Entry (Scholar)</h2>
        <h4>Single entry</h4>
        <form action="{% url 'entry:scholar_submit' %}" method="post">
            <fieldset>
                <label>Student Number: <input class="student-number" type='number' name="student-number" value="" autofocus></label> Name: <a id="name" class="name">Student not found</a>
                . . . . .
                <label>Term 1 Percentage: <input class="t1" type='number' id="t1" name="t1" value="" style="width: 40px" step="0.001"></label>
                <label>Term 2 Percentage: <input class="t2" type="number" id="t2" name="t2" value="" style="width: 40px" step="0.001"></label>
                <button value="submit">Submit</button>
                {% csrf_token %}
            </fieldset>
        </form>
        <hr>
        {% if user.can_upload or user.is_superuser%}
        <h4>Create Honour Roll, Principal's List and GE Rolls Recipients</h4>
            <form method="post" enctype="multipart/form-data" action="{% url 'data:roll_importer'%}">
                <label><select name="term">
                    <option value="1" >Term 1</option>
                    <option value="2" >Term 2</option>
                </select></label>
                of
                <select name="start-year" id="year"></select>
                <input type="file" name="file" id="file" onchange="form.submit()" accept=".csv">
                {% csrf_token %}
                <label>Inadmissible course codes (YCPM, YBMO,...) <input style="width: 500px;" type="text" value="YCPM, YBMO, YIPS, MCE8, MCE9, MCLC"></label>
            </form>
        <hr>
        <h4>Form entry</h4>
            <p>Visit the home/help page to access import template files</p>
            <form action="{% url 'entry:scholar_upload_file' %}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" onchange="form.submit();" accept=".csv">
                {% csrf_token %}
            </form>
        {% endif %}
    </body>
{% endblock %}
{% block javascript %}
    <script>
        $(".student-number").keyup(function () {
           const student_id = this.value;
           $.ajax({
               url: '{% url "entry:validate_student_name" %}',
               data: {
                   'student_id': student_id
               },
               dataType: 'json',
               success: function (data) {
                       document.getElementById('name').innerHTML=data.student_name;
                       $('input[name=t1]').val(data.t1);
                       $('input[name=t2]').val(data.t2);
                       if(data.student_name !== "Student not found") document.getElementsByName('t1')[0].focus();
               }
           });
        });
    </script>
    <script>
    {% now "n" as current_month %}
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% elif current_month|add:"0" <= 7 %}
          if(year === start - 2){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
              options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
          }
        document.getElementById("year").innerHTML = options;
    </script>
{% endblock %}
