{% extends 'data/base.html' %}
{% load staticfiles %}

{% block title %}Scholar (Direct){% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/entry_styles.css' %}">
{% endblock %}

{% block content%}
    <body>
        <h2>Direct Entry (Scholar)</h2>
        <h4>Single entry</h4>
        <form action="{% url 'entry:scholar_submit' %}" method="post">
                    <fieldset>
                        <label>Student Number: <input class="student-number" type='number' name="student-number" value="" autofocus></label>
                        <label>Term 1 Percentage: <input class="t1" type='number' id="t1" name="t1" value="" style="width: 40px" step="0.001"></label>
                        <label>Term 2 Percentage: <input class="t2" type="number" id="t2" name="t2" value="" style="width: 40px" step="0.001"></label>
                        . . . . .
                        Name: <a id="name" class="name">Student not found</a>
                        <button value="submit" onsubmit="confirm('Submitting this file will overwrite all existing data for students averages.');">Submit</button>
                        {% csrf_token %}
                    </fieldset>
            </form>
        <h4>Form entry</h4>
            <p>Visit the home/help page to access import template files</p>
            <form action="{% url 'entry:scholar_upload_file' %}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" onchange="form.submit();">
                {% csrf_token %}
            </form>
    </body>
{% endblock %}
{% block javascript %}
    <script>
        $(".student-number").keyup(function () {
           const student_id = this.value;
           $.ajax({
               url: '{% url "entry:validate_student_name" %}',
               data: {
                   'student_id': student_id
               },
               dataType: 'json',
               success: function (data) {
                       document.getElementById('name').innerHTML=data.student_name;
                       $('input[name=t1]').val(data.t1);
                       $('input[name=t2]').val(data.t2);
               }
           });
        });
    </script>
{% endblock %}
