{% extends 'data/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'data/css/base_style.css' %}">
{% endblock %}

{% block content%}

    <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
        </form>
        <br>
        <a href="{% url "password_reset" %}">Password Reset (Administration only)</a>

{% endblock %}
{% block javascript %}{% endblock %}