
{% extends 'test2/base.html' %}
{% load staticfiles %}

{% block title %}Export{% endblock %}

{% block navbar %}
    {% include 'test2/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
{% endblock %}

{% block content%}
    <!--Content goes here-->
    <div>
        <h2>Export</h2>

        <h4><a href="{% url 'export:printing' %}">Printing</a></h4>
        <h4><a href="{% url 'export:export_files' %}">Export Files</a></h4>

    </div>
{% endblock %}

