
{% extends 'data/base.html' %}
{% load static %}

{% block title %}Export{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
{% endblock %}

{% block content%}
    <!--Content goes here-->
    <div>
        <h2>Export</h2>

        <h4><a href="{% url 'export:print-annual' %}">Print Annual Certificates/List</a></h4>
        <h4><a href="{% url 'export:print-grad' %}">Print Graduation Candidates</a></h4>
        <h4><a href="{% url 'export:print-xcheck' %}">Print Crosscheck List</a></h4>
        <h4><a href="{% url 'export:export_files' %}">Manage Files</a></h4>

    </div>
{% endblock %}

