{% extends 'data/base.html' %}

{% load mathfilters %}
{% load static %}

{% block title %}{% if award_type_display %}Grade {{ grade_num }} {{ year }}-{{ year|add:1 }} {{ award_type_display }}{% else %}Data{% endif %} Crosscheck{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block user_custom %}table.sortable tbody tr:nth-child(odd) td {background: {{ user.alternate_row_colour }};}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
{% endblock %}

{% block content%}
    <div>
    <h2 class="heading">Printing Reports</h2>
    </div>

    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            <label>Grade: <select name="grade">
                <option {% ifequal grade_num 08 %}selected{% endifequal %} value="08" >Grade 08</option>
                <option {% ifequal grade_num 09 %}selected{% endifequal %} value="09" >Grade 09</option>
                <option {% ifequal grade_num 10 %}selected{% endifequal %} value="10" >Grade 10</option>
                <option {% ifequal grade_num 11 %}selected{% endifequal %} value="11" >Grade 11</option>
                <option {% ifequal grade_num 12 %}selected{% endifequal %} value="12" >Grade 12</option>
            </select></label>

            <label>Year: <select name="year" id="year"></select></label>

            <label>Type: <select name="type">
                <option {% ifequal award_type "SE" %}selected{% endifequal %} value="SE"> Service</option>
                <option {% ifequal award_type "AT" %}selected{% endifequal %} value="AT">Athletics</option>
                <option {% ifequal award_type "SC" %}selected{% endifequal %} value="SC">Scholar</option>
                <option {% ifequal award_type "FA" %}selected{% endifequal %} value="FA">Fine Arts</option>
            </select></label>

            <input type="submit" value="Go" onclick="form.action='print-xcheck';" />
        </fieldset>
    </form>

    <div>
        <button class="btn default" onclick="PrintElem('XCheckList')">Print Student List</button>
    </div>

    <h2>{{ award_type_display }} Crosscheck</h2>
    {% if student_list %}
    <div id="XCheckList">
        <table class="sortable">
            <!-- Header Row-->
            <thead><tr>
                <th style="min-width:100px;">First Name</th>
                <th>Last Name</th>
                <th>Student Number</th>
                <th>Homeroom</th>
                {% if award_type == "SC" %}<th>Term 1 Avg (%)</th><th>Term 2 Avg (%)</th>{% else %}<th>Data</th>{% endif %}
            </tr></thead>
        {% for student in student_list %}
            <tr>
                <td>{{ student.first }} ({{ student.legal }})</td>
                <td>{{ student.last }}</td>
                <td>{{ student.student_num }}</td>
                <td>{{ student.homeroom }}</td>
            {% if award_type == "SC" %}
                    {% for grade in student.all_grades %}
                        {% ifequal grade_num grade.grade %}
                            <td><span class="point">{{ grade.term1_avg }}</span></td>
                            <td><span class="point">{{ grade.term2_avg }}</span></td>

                        {% endifequal %}
                    {% endfor %}
            {% else %}
                <td>
                    {% for grade in student.all_grades %}
                        {% ifequal grade_num grade.grade %}
                            {% for point in grade.points_set.all %}
                                {% ifequal award_type point.type.catagory %}
                                    <span class="point">{{ point.amount|floatformat:2 }}</span>
                                    <span class="code description">{{ point.type.description }}</span>
                                    <span style="display: inline-block; width: 2ch;">&#9;</span>
                                {% endifequal %}
                            {% endfor %}
                        {% endifequal %}
                    {% endfor %}
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock %}
{% block javascript %}
    <script>
        {% now "n" as current_month %}
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% elif current_month|add:"0" <= 7 %}
          if(year === start - 2){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
              options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
          }
        document.getElementById("year").innerHTML = options;
    </script>
{% endblock %}