{% extends 'data/base.html' %}

{% load mathfilters %}
{% load staticfiles %}

{% block title %}{% if type %}{{ type }}{% else %}Annual Awards{% endif %}{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="{% static 'vivaldin-italic.js' %}" type="module"></script>
{% endblock %}

{% block content%}
    <div>
        <h2 class="heading">Printing Reports</h2>
    </div>
    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            <labeL>Grade: <select name="grade">
                <option value="" >Select</option>
                <option {% ifequal grade 08 %}selected {% endifequal %}value="08" >Grade 08</option>
                <option {% ifequal grade 09 %}selected {% endifequal %}value="09" >Grade 09</option>
                <option {% ifequal grade 10 %}selected {% endifequal %}value="10" >Grade 10</option>
                <option {% ifequal grade 11 %}selected {% endifequal %}value="11" >Grade 11</option>
                <option {% ifequal grade 12 %}selected {% endifequal %}value="12" >Grade 12</option>
            </select></labeL>

            <labeL>Year: <select name="year" id="year"></select></labeL>

            <label>Annual Certificates:
            <select name="annual">
                <option value="" >Select</option>
                <option {% ifequal award "SE" %}selected {% endifequal %}value="SE" >Service</option>
                <option {% ifequal award "AT" %}selected {% endifequal %}value="AT" >Athletics</option>
                <option {% ifequal award "honourroll" %}selected {% endifequal %}value="honourroll" >Scholar Honour Roll</option>
                <option {% ifequal award "principalslist" %}selected {% endifequal %}value="principalslist" >Scholar Principal's List</option>
                <option {% ifequal award "FA" %}selected {% endifequal %}value="FA" >Fine Arts</option>
            </select>
            </label>

            <label>Cumulative Awards:
            <select name="cumulative">
                <option value="" >Select</option>
                <option {% ifequal award "silver" %}selected {% endifequal %}value="silver" >Greyhound Silver Pin</option>
                <option {% ifequal award "gold" %}selected {% endifequal %}value="gold" >Greyhound Gold Pin</option>
                <option {% ifequal award "goldplus" %}selected {% endifequal %}value="goldplus" >Greyhound Gold+ Bar</option>
                <option {% ifequal award "platinum" %}selected {% endifequal %}value="platinum" >Greyhound Platinum Pin</option>
            </select>
            </label>

            <label>Athletic Awards:
            <select name="athletic">
                <option value="" >Select</option>
                <option {% ifequal award "bigblock" %}selected {% endifequal %}value="bigblock" >Athletics Big Block</option>
                <option {% ifequal award "3ST" %}selected {% endifequal %}value="3ST" >Annual 3 Sport Athletes</option>
                <option {% ifequal award "4ST" %}selected {% endifequal %}value="4ST" >Annual 4 Sport Athletes</option>
                <option {% ifequal award "5ST" %}selected {% endifequal %}value="5ST" >Annual 5+ Sport Athletes</option>
            </select>
            </label>

            <input type="submit" value="Enter" onclick="form.action='print-annual';" />
        </fieldset>
    </form>

    <div>
        <button class="btn default" onclick="PrintElem('GeneratedList')">Print Student List</button>
        <button class="btn default" onclick="PrintCert('GeneratedList')">Print Certificates</button>
        <button class="btn default" onclick="exportTableToExcel('GeneratedList', '{{ type }}')">Export to Excel</button>
    </div>

    {% if student_list %}
        {% if award == "big-block" %}
            {% include 'export/award_templates/student_list.html' with student_list=student_list %}
        {% else %}
            {% include 'export/award_templates/student_list.html' with student_list=student_list %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascript %}
    <script>
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
          options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
        }
        document.getElementById("year").innerHTML = options;
    </script>
    <script>
        (function(API){API.myText = function(txt, options, x, y) {
                options = options ||{};
            let txtWidth;
            if (options.align === "center") {

                const fontSize = this.internal.getFontSize();
                const pageWidth = this.internal.pageSize.width;
                txtWidth = this.getStringUnitWidth(txt) * fontSize / this.internal.scaleFactor;

                // Calculate text's x coordinate
                x = (pageWidth - txtWidth) / 2;
            }

                // Draw text at x,y
                this.text(txt,x,y);
            }})(jsPDF.API);
    function PrintCert(elem) {
        const doc = new jsPDF({
            orientation: 'landscape',
            format: 'letter'
        });


        const imgData = 'data:image/png;base64,{{ principals_signature }}';
        console.log(imgData);
        const type = "{{ award_formatted }}";
        const studentList = formatText(elem); //format table html from the table
        doc.addFont('vivaldin', 'italic');

        for(let i = 0; i < studentList.length; i++){
            doc.setFont('vivaldin', 'italic');// set font parameters to vivaldin
            doc.setFontSize(48);
            doc.myText(studentList[i][0] + " " + studentList[i][1],{align: "center"},0,94); //first + last

            doc.setFontSize(40);
            doc.myText(type ,{align: "center"},0,131);

            doc.setFontSize(32);
            doc.myText("{{ year }} - {{ year|add:1 }}",{align: "center"},0 , 153);

            doc.setFontSize(7);
            doc.setFont('Arial', 'normal');
            doc.text(220, 210, studentList[i][2]);
            console.log(studentList[i][2]); //identifier

            doc.addImage(imgData, 'JPEG', 184, 172, 40, 15);

            doc.addPage();

        }
        doc.deletePage(studentList.length + 1); //delete last blank page in file

        //doc.myText("Test",{align: "center"},0,16);
        //doc.save('Certificates.pdf');


        const string = doc.output('datauristring');
        const embed = "<embed width='100%' height='100%' name=Certificates src='" + string + "'/>";
        const x = window.open('', 'PRINT', 'height=400,width=600');
        x.document.open();
        x.document.write(embed);
        x.document.close();
    }
    function formatText(elem) {
        elem = document.getElementById(elem);
        elem = elem.children[0].children[2]; //gets table body
        console.log(elem);
        const studentList = [];
        for(let i = 0 ; i < {{ student_list|length }}; i++){ //iterate through each student in student list
            const student = elem.children[i];
            const first_name = student.children[0].innerHTML.replace(/ *\([^)]*\) */g, ""); // Get firstname and regex to remove legal name
            const last_name = student.children[1].innerHTML;
            const identifier = student.children[2].innerHTML + " - " + student.children[3].innerHTML; // get student number and homeroom
            //console.log(first_name + " " + last_name + " " + identifier);

            studentList.push([first_name, last_name, identifier]);
        }
        return studentList;
    }
    </script>
    <script>
    function exportTableToExcel(tableID, filename = ''){
        let downloadLink;
        const dataType = 'application/vnd.ms-excel';
        const tableSelect = document.getElementById(tableID);
        console.log(tableSelect);
        const tableHTML = tableSelect.outerHTML.replace(/ /g, '%20').replace(/#/g, 'UNKN');

        // Specify file name
        filename = filename?filename+'.xls':'{{ type }}.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if(navigator.msSaveOrOpenBlob){
            const blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
    </script>
{% endblock %}
