{% extends 'data/base.html' %}

{% load static %}

{% block title %}{% if type %}{{ type }}{% else %}Term Lists{% endif %}{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block user_custom %}table.sortable tbody tr:nth-child(odd) td {background: {{ user.alternate_row_colour }};}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="{% static 'vivaldin-italic.js' %}" type="module"></script>
{% endblock %}

{% block content%}
    <div>
        <h2 class="heading">Printing Reports</h2>
    </div>
    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            <labeL>Grade: <select name="grade">
                <option {% ifequal grade 08 %}selected {% endifequal %}value="08" >Grade 08</option>
                <option {% ifequal grade 09 %}selected {% endifequal %}value="09" >Grade 09</option>
                <option {% ifequal grade 10 %}selected {% endifequal %}value="10" >Grade 10</option>
                <option {% ifequal grade 11 %}selected {% endifequal %}value="11" >Grade 11</option>
                <option {% ifequal grade 12 %}selected {% endifequal %}value="12" >Grade 12</option>
            </select></labeL>

            <labeL>Year: <select name="year" id="year"></select></labeL>

            <labeL>Term: <select name="term" id="term">
                <option value="1" {% ifequal term 1 %}selected {% endifequal %}>Term 1</option>
                <option value="2" {% ifequal term 2 %}selected {% endifequal %}>Term 2</option>
            </select></labeL>

            <label>Roll:
            <select name="roll">
                <option {% ifequal roll "honourroll" %}selected {% endifequal %}value="honour" >Honour Roll</option>
                <option {% ifequal roll "principalslist" %}selected {% endifequal %}value="principalslist" >Principal's List</option>
                <option {% ifequal roll "GE" %}selected {% endifequal %}value="GE" >GE Roll</option>
            </select>
            </label>

            <input type="submit" value="Go" onclick="form.action='print-term';">
        </fieldset>
    </form>

    <div>
        <button class="btn default" onclick="PrintElem('GeneratedList')">Print Student List</button>
        <button class="btn default" onclick="exportTableToExcel('GeneratedList', '{{ roll }}')">Export to Excel</button>
    </div>

    {% if student_list %}
        {% include 'export/award_templates/annual_cert_student_list.html' with student_list=student_list %}
    {% endif %}

{% endblock %}

{% block javascript %}
    <script>
        {% now "n" as current_month %}
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% elif current_month|add:"0" <= 7 %}
          if(year === start - 2){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
              options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
          }
        document.getElementById("year").innerHTML = options;
    </script>
    <script>
    function exportTableToExcel(tableID, filename = ''){
        let downloadLink;
        const dataType = 'application/vnd.ms-excel';
        const tableSelect = document.getElementById(tableID);
        console.log(tableSelect);
        const tableHTML = tableSelect.outerHTML.replace(/ /g, '%20').replace(/#/g, 'UNKN');

        // Specify file name
        filename = filename?filename+'.xls':'{{ type }}.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if(navigator.msSaveOrOpenBlob){
            const blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
    </script>
{% endblock %}
