{% extends 'data/base.html' %}

{% load mathfilters %}
{% load static %}
{% load has_access %}

{% block title %}{% if type %}{{ type }}{% else %}Club and Sport Lists{% endif %}{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'export/css/reports_styles.css' %}">
{% endblock %}

{% block user_custom %}table.sortable tbody tr:nth-child(odd) td {background: {{ user.alternate_row_colour }};}{% endblock %}

{% block content%}
    <div>
    <h2 class="heading">Printing Reports</h2>
    </div>

    {% if request.user|has_access:"pull_cs" %}

    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            <label>Grade: <select id="grade" name="grade">
                <option {% ifequal grade 8 %}selected {% endifequal %}value="8">Grade 8</option>
                <option {% ifequal grade 9 %}selected {% endifequal %}value="9">Grade 9</option>
                <option {% ifequal grade 10 %}selected {% endifequal %}value="10">Grade 10</option>
                <option {% ifequal grade 11 %}selected {% endifequal %}value="11">Grade 11</option>
                <option {% ifequal grade 12 %}selected {% endifequal %}value="12">Grade 12</option>
                <option {% ifequal grade "all" %}selected {% endifequal %}value="all">Grade 8 - 12</option>
            </select></label>

            <label>Year: <select name="year" id="year"></select></label>

            <label>Service: <select name="service">
                <option value="">Select</option>
            {% for code in points_se %}
                <option {% ifequal code.code se_point_code %}selected {% endifequal %}value="{{ code.code }}">{{ code.description }} - {{ code.code }}</option>
            {% endfor %}
            </select></label>

            <label>Athletics: <select name="athletic">
                <option value="">Select</option>
            {% for code in points_at %}
                <option {% ifequal code.code at_point_code %}selected {% endifequal %}value="{{ code.code }}">{{ code.description }} - {{ code.code }}</option>
            {% endfor %}
            </select></label>

            <label>Fine Arts: <select name="fine_arts">
                <option value="">Select</option>
            {% for code in points_fa %}
                <option {% ifequal code.code fa_point_code %}selected {% endifequal %}value="{{ code.code }}">{{ code.description }} - {{ code.code }}</option>
            {% endfor %}
            </select></label>

            <labeL>Active: <select name="active">
                <option {% ifequal active "yes" %}selected {% endifequal %}value="yes" >Yes (Present and Active Students)</option>
                <option {% ifequal active "no" %}selected {% endifequal %}value="no" >No (Graduated and Transferred Students)</option>
                <option {% ifequal active "both" %}selected {% endifequal %}value="Both" >Both</option>
            </select></labeL>

            <input type="submit" value="Go" onclick="form.action='print-cslist';" />
        </fieldset>
    </form>

    <div>
        <button class="btn default" onclick="PrintElem('GradList')">Print Student List</button>

        <button class="btn default" onclick="exportTableToExcel('GradList', '{{ type }}')">Export to Excel</button>
    </div>
    <div id="GradList">
        {% include 'export/award_templates/annual_cert_student_list.html' with student_list=student_list %}
    </div>
    {% else %}
        <h4>You do not have permission to pull this report</h4>
    {% endif %}

{% endblock %}
{% block javascript %}
    <script>
        {% now "n" as current_month %}
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% elif current_month|add:"0" <= 7 %}
          if(year === start - 2){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
              options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
          }
        document.getElementById("year").innerHTML = options;
    </script>

    <script>
    function exportTableToExcel(tableID, filename = ''){
        let downloadLink;
        const dataType = 'application/vnd.ms-excel';
        const tableSelect = document.getElementById(tableID);
        console.log(tableSelect);
        const tableHTML = tableSelect.outerHTML.replace(/ /g, '%20').replace(/#/g, 'UNKN');

        // Specify file name
        filename = filename?filename+'.xls':"{{ filename }}.xls";

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if(navigator.msSaveOrOpenBlob){
            const blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
    </script>
{% endblock %}

{% block print-styles %}
    'tr{ page-break-inside:avoid; page-break-after:avoid; }' +
    'td{ page-break-inside:avoid; page-break-after:avoid; }'+
    'table{ page-break-inside:avoid; page-break-after:avoid; }'
{% endblock %}
