{% extends 'data/base.html' %}

{% load staticfiles %}

{% block title %}{% if type %}{{ type }}{% else %}Graduation{% endif %} Candidates{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
{% endblock %}

{% block content%}
    <div>
    <h2 class="heading">Printing Reports</h2>
    </div>

    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            <label>Year: <select name="year" id="year"></select></label>

            <label>Grade:<select name="grade"><option value="12">Grade 12</option></select></label>

            <label>Graduation Awards:
            <select name="grad-awards">
                <option value="" >Select</option>
                <option {% ifequal award "SE" %}selected {% endifequal %}value="SE">Service Candidates</option>
                <option {% ifequal award "AT" %}selected {% endifequal %}value="AT">Athletics Candidates</option>
                <option {% ifequal award "SC" %}selected {% endifequal %}value="SC">Scholar Candidates</option>
                <option {% ifequal award "FA" %}selected {% endifequal %}value="FA">Fine Arts Candidates</option>
                <option {% ifequal award "ME" %}selected {% endifequal %}value="ME">Merit Candidates</option>
            </select></label>

            <input type="submit" value="Enter" onclick="form.action='print-grad';" />
        </fieldset>
    </form>

    <div>
        <button class="btn default" onclick="PrintElem('GradList')">Print Student List</button>
    </div>

    {% if student_list  %}
        {% ifequal award "SE" %}
            {% include 'export/award_templates/grad_award_se.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "AT" %}
            {% include 'export/award_templates/grad_award_at.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "SC" %}
            {% include 'export/award_templates/grad_award_sc.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "FA" %}
            {% include 'export/award_templates/grad_award_fa.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "ME" %}
            {% include 'export/award_templates/grad_award_me.html' with student_list=student_list %}
        {% endifequal %}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
          options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
        }
        document.getElementById("year").innerHTML = options;
    </script>
{% endblock %}
