{% extends 'data/base.html' %}

{% load mathfilters %}
{% load staticfiles %}

{% block title %}{% if award_type_display %}{{ award_type_display }}{% else %}Data{% endif %} Crosscheck{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
{% endblock %}

{% block content%}
    <div>
    <h2 class="heading">Printing Reports</h2>
    </div>

    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            Grade:
            <select name="grade">
                <option {% ifequal grade_num 08 %}selected{% endifequal %} value="08" >Grade 08</option>
                <option {% ifequal grade_num 09 %}selected{% endifequal %} value="09" >Grade 09</option>
                <option {% ifequal grade_num 10 %}selected{% endifequal %} value="10" >Grade 10</option>
                <option {% ifequal grade_num 11 %}selected{% endifequal %} value="11" >Grade 11</option>
                <option {% ifequal grade_num 12 %}selected{% endifequal %} value="12" >Grade 12</option>
            </select>

            Year: <select name="year" id="year"></select>

            Type:
            <select name="type">
                <option value="" >Select</option>
                <option {% ifequal award_type "SE" %}selected{% endifequal %} value="SE"> Service</option>
                <option {% ifequal award_type "AT" %}selected{% endifequal %} value="AT">Athletics</option>
                <option {% ifequal award_type "SC" %}selected{% endifequal %} value="SC">Scholar</option>
                <option {% ifequal award_type "FA" %}selected{% endifequal %} value="FA">Fine Arts</option>
            </select>

            <input type="submit" value="Enter" onclick="form.action='print-xcheck';" />
        </fieldset>
    </form>

    <div>
        <button class="button default" onclick="PrintElem('XCheckList')">Print Student List</button>
    </div>

    <h2>{{ award_type_display }} Crosscheck</h2>
    {% if student_list %}
    <div id="XCheckList">
        <table class="sortable">
            <!-- Header Row-->
            <tr>
                <td><strong>First</strong></td>
                <td><strong>Last</strong></td>
                <td><strong>Student #</strong></td>
                <td><strong>Homeroom</strong></td>
                <td><strong>Data</strong></td>
            </tr>
        {% for student in student_list %}
            <tr>
                <td>{{ student.first }} ({{ student.legal }})</td>
                <td>{{ student.last }}</td>
                <td>{{ student.student_num }}</td>
                <td>{{ student.homeroom }}</td>
                <td>
                    {% for grade in student.grade_set.all %}
                        {% ifequal grade_num grade.grade|stringformat:"02d"|add:"0" %}
                            {% for point in grade.points_set.all %}
                                {% ifequal award_type point.type.catagory %}
                                    <span class="point">{{ point.amount }}</span>
                                    <span class="code description">{{ point.type.description }}</span>
                                    <span style="display: inline-block; width: 2ch;">&#9;</span>
                                {% endifequal %}
                            {% endfor %}
                        {% endifequal %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock %}
{% block javascript %}
    <script>
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
          options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
        }
        document.getElementById("year").innerHTML = options;
    </script>
{% endblock %}
