{% extends 'data/base.html' %}

{% load mathfilters %}
{% load staticfiles %}

{% block title %}Printing Certificates{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
{% endblock %}

{% block content%}
    <!--Content goes here-->
    <div>
    <h2 class="heading">Printing Reports</h2>
</div>
    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            Year:
            <select name="year">
                <option value="" >Select</option>
                <option value="08" >Current Year</option>
                <option value="09" >Previous Year (-)</option>
                <option value="10" >Previous Year (-)</option>
                <option value="11" >Previous Year (-)</option>
                <option value="12" >Previous Year (-)</option>
            </select>
            Grade:
            <select name="grade">
                <option value="" >Select</option>
                <option value="08" >Grade 08</option>
                <option value="09" >Grade 09</option>
                <option value="10" >Grade 10</option>
                <option value="11" >Grade 11</option>
                <option value="12" >Grade 12</option>
            </select>

            Data Crosscheck:
            <select name="annual">
                <option value="" >Select</option>
                <option value="service" >Service</option>
                <option value="athletics" >Athletics</option>
                <option value="scholar-hr" >Scholar Term 1</option>
                <option value="scholar-hr" >Scholar Term 2</option>
                <option value="fine-arts" >Fine Arts</option>
            </select>

            Annual Certificates:
            <select name="annual">
                <option value="" >Select</option>
                <option value="service" >Service</option>
                <option value="athletics" >Athletics</option>
                <option value="honourroll" >Scholar Honour Roll</option>
                <option value="principalslist" >Scholar Principal's List</option>
                <option value="fine-arts" >Fine Arts</option>
            </select>

            Cumulative Awards:
            <select name="cumulative">
                <option value="" >Select</option>
                <option value="silver" >Greyhound Silver Pin</option>
                <option value="gold" >Greyhound Gold Pin</option>
                <option value="goldplus" >Greyhound Gold+ Bar</option>
                <option value="platinum" >Greyhound Platinum Pin</option>
                <option value="big-block" >Athletics Big Block</option>
            </select>

            Graduation Awards:
            <select name="grad-awards">
                <option value="" >Select</option>
                <option value="se-candidates">Service Candidates</option>
                <option value="at-candidates">Athletics Candidates</option>
                <option value="sc-candidates">Scholar Candidates</option>
                <option value="fa-candidates">Fine Arts Candidates</option>
                <option value="me-candidates">Merit Candidates</option>
            </select>

            <input type="submit" value="Enter" onclick="javascript: form.action='printing';" />
        </fieldset>
    </form>

    <div>
        <button class="button default" onclick="PrintElem('GeneratedList')">Print Student List</button>
        <button class="button default" onclick="PrintElem('GeneratedList')">Print Certificates</button>
    </div>

    {% if student_list %}
    <div id="GeneratedList">
        <table class="sortable">
            <!-- Header Row-->
            <tr>
                <td width="200px">
                    <strong>Certificate</strong>
                </td>
                <td width="400px">
                    <strong>Name</strong>
                </td>
                <td width="150px">
                    <strong>Student Number</strong>
                </td>
                <td>
                    <strong>Homeroom</strong>
                </td>
            </tr>
        {% for student in student_list %}
            <tr>
                <td>Certificate</td>
                <td>{{ student.first }} ({{ student.legal }}) {{ student.last }}</td>
                <td>{{ student.student_num }}</td>
                <td>{{ student.homeroom }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}

    <h2>Service Candidates</h2>
    {% if student_list %}
    <div id="GradList">
        {% for student in student_list %}
            <table>
                <tr>
                    <td>CANDIDATE: </td>
                    <td>{{ student.last }}, {{ student.first }} ({{ student.legal }}) ({{ student.homeroom }})</td>
                </tr>
                {% for i in i|rjust:5 %}
                    {% for grade in student.grade_set.all %}
                        {% ifequal 8|add:forloop.parentloop.counter0 grade.grade|stringformat:"02d"|add:"0" %}
                        <tr>
                            <td>GR {{ grade.grade|stringformat:"02d"|add:"0" }}:</td>
                            <td>
                                {% for point in grade.points_set.all %}
                                    {% ifequal "SE" point.type.catagory %}
                                        <span class="point">{{ point.amount }}</span>
                                        <span style="display: inline-block; width: 2ch;">&#9;</span>
                                        <span class="code description">{{ point.type.description }}</span>
                                    {% endifequal %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td>TOTAL:</td>
                    <td>11-12: {{ student.SE_11_12_total|floatformat:"2" }}  &emsp;
                        08-12:
                        {% for grade in student.grade_set.all %}
                            {% ifequal 12 grade.grade|stringformat:"02d"|add:"0" %}
                                {{ grade.cumulative_SE|floatformat:"2" }}
                            {% endifequal %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>PINS:</td>
                    <td>
                        {% if student.silver_pin %}Silver in Grade {{ student.silver_pin }}, {% endif %}
                        {% if student.gold_pin %}Gold in Grade {{ student.gold_pin }}, {% endif %}
                        {% if student.goldPlus_pin %}Gold+ in Grade {{ student.goldPlus_pin }}, {% endif %}
                        {% if student.platinum_pin %}Platinum in Grade {{ student.platinum_pin }}, {% endif %}
                    </td>

                </tr>
            </table>
            <br>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
{% block javascript %}

    <script>
        function PrintElem(elem)
        {
            var mywindow = window.open('', 'PRINT', 'height=400,width=600');

            mywindow.document.write('<html><head><title>' + document.title  + '</title>');
            mywindow.document.write('');
            mywindow.document.write('</head><body>');
            mywindow.document.write('<h3>' + document.title  + '</h3>');
            mywindow.document.write(document.getElementById(elem).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            //mywindow.close();

            return true;
        }
    </script>
{% endblock %}
