{% extends 'data/base.html' %}

{% load mathfilters %}
{% load staticfiles %}

{% block title %}Graduation Candidates{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
{% endblock %}

{% block content%}
    <div>
    <h2 class="heading">Printing Reports</h2>
    </div>

    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            Year: <select name="start-year" id="year"></select>

            Grade:
            <select name="grade">
                <option value="12">Grade 12</option>
            </select>

            Graduation Awards:
            <select name="grad-awards">
                <option value="" >Select</option>
                <option value="se-candidates">Service Candidates</option>
                <option value="at-candidates">Athletics Candidates</option>
                <option value="sc-candidates">Scholar Candidates</option>
                <option value="fa-candidates">Fine Arts Candidates</option>
                <option value="me-candidates">Merit Candidates</option>
            </select>

            <input type="submit" value="Enter" onclick="javascript: form.action='printing';" />
        </fieldset>
    </form>

    <div>
        <button class="button default" onclick="PrintElem('GradList')">Print Student List</button>
    </div>

    <h2>Service Candidates</h2>
    {% if student_list %}
    <div id="GradList">
        {% for student in student_list %}
            <table>
                <tr>
                    <td>CANDIDATE: </td>
                    <td>{{ student.last }}, {{ student.first }} ({{ student.legal }}) ({{ student.homeroom }})</td>
                </tr>
                {% for i in i|rjust:5 %}
                    {% for grade in student.grade_set.all %}
                        {% ifequal 8|add:forloop.parentloop.counter0 grade.grade|stringformat:"02d"|add:"0" %}
                        <tr>
                            <td>GR {{ grade.grade|stringformat:"02d"|add:"0" }}:</td>
                            <td>
                                {% for point in grade.points_set.all %}
                                    {% ifequal "SE" point.type.catagory %}
                                        <span class="point">{{ point.amount }}</span>
                                        <span class="code description">{{ point.type.description }}</span>
                                        <span style="display: inline-block; width: 2ch;">&#9;</span>
                                    {% endifequal %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td>TOTAL:</td>
                    <td>11-12: {{ student.SE_11_12_total|floatformat:"2" }}  &emsp;
                        08-12:
                        {% for grade in student.grade_set.all %}
                            {% ifequal 12 grade.grade|stringformat:"02d"|add:"0" %}
                                {{ grade.cumulative_SE|floatformat:"2" }}
                            {% endifequal %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>PINS:</td>
                    <td>
                        {% if student.silver_pin %}Silver in Grade {{ student.silver_pin }}, {% endif %}
                        {% if student.gold_pin %}Gold in Grade {{ student.gold_pin }}, {% endif %}
                        {% if student.goldPlus_pin %}Gold+ in Grade {{ student.goldPlus_pin }}, {% endif %}
                        {% if student.platinum_pin %}Platinum in Grade {{ student.platinum_pin }}, {% endif %}
                    </td>

                </tr>
            </table>
            <hr>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
{% block javascript %}
    <script>
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
          options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
        }
        document.getElementById("year").innerHTML = options;
    </script>
{% endblock %}
