{% extends 'data/base.html' %}

{% load static %}
{% load has_access %}

{% block title %}{% if type %}{{ type }}{% else %}Graduation{% endif %} Candidates{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'export/css/reports_styles.css' %}">
{% endblock %}

{% block user_custom %}table.sortable tbody tr:nth-child(odd) td {background: {{ user.alternate_row_colour }};}{% endblock %}

{% block content%}
    <div>
    <h2 class="heading">Printing Reports</h2>
    </div>

    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            <label>Grade: <select name="grade"><option value="12">Grade 12</option></select></label>

            <label>Year: <select name="year" id="year"></select></label>

            <label>Graduation Awards:
            <select name="grad-awards">
                {% if request.user|has_access:"pull_grad_se" %}<option {% ifequal award "SE" %}selected {% endifequal %}value="SE">Service Candidates</option>{% endif %}
                {% if request.user|has_access:"pull_grad_at" %}<option {% ifequal award "AT" %}selected {% endifequal %}value="AT">Athletics Candidates</option>{% endif %}
                {% if request.user|has_access:"pull_grad_sc" %}<option {% ifequal award "SC" %}selected {% endifequal %}value="SC">Scholar Candidates</option>{% endif %}
                {% if request.user|has_access:"pull_grad_fa" %}<option {% ifequal award "FA" %}selected {% endifequal %}value="FA">Fine Arts Candidates</option>{% endif %}
                {% if request.user|has_access:"pull_grad_me" %}<option {% ifequal award "ME" %}selected {% endifequal %}value="ME">Merit Candidates</option>{% endif %}
                {% if request.user|has_access:"pull_grad_superlist" %}<option {% ifequal award "SUPER" %}selected {% endifequal %}value="SUPER">Sr. Awards Superlist</option>{% endif %}
            </select></label>

            <input type="submit" value="Go" onclick="form.action='print-grad';"/>
        </fieldset>
    </form>

    <div>
        <button class="btn default" onclick="PrintElem('GradList')">Print Student List</button>
        <button class="btn default" onclick="exportTableToExcel('GeneratedList')">Export to Excel (Sr. Superlist Only)</button>
    </div>

    {% if student_list  %}
        {% ifequal award "SE" %}
            {% include 'export/award_templates/grad_award_se.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "AT" %}
            {% include 'export/award_templates/grad_award_at.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "SC" %}
            {% include 'export/award_templates/grad_award_sc.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "FA" %}
            {% include 'export/award_templates/grad_award_fa.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "ME" %}
            {% include 'export/award_templates/grad_award_me.html' with student_list=student_list %}
        {% endifequal %}

        {% ifequal award "SUPER" %}
            {% include 'export/award_templates/grad_superlist.html' with student_list=student_list %}
        {% endifequal %}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        {% now "n" as current_month %}
        const start = new Date().getFullYear() + 1;
        const end = 1970;
        let options = "";
        for(let year = start ; year >=end; year--){
          options += "<option ";
          {% if year %}
          if(year === {{ year }}){
              options += "selected ";
          }
          {% elif current_month|add:"0" <= 7 %}
          if(year === start - 2){
              options += "selected ";
          }
          {% else %}
          if(year === start - 1){
              options += "selected ";
          }
          {% endif %}
              options += "value=\""+ year + "\">" + year + " → " + (year + 1) + "</option>";
          }
        document.getElementById("year").innerHTML = options;
    </script>
    <script>
    function exportTableToExcel(tableID, filename = ''){
        let downloadLink;
        const dataType = 'application/vnd.ms-excel';
        const tableSelect = document.getElementById(tableID);
        console.log(tableSelect);
        const tableHTML = tableSelect.outerHTML.replace(/ /g, '%20').replace(/#/g, 'UNKN');

        // Specify file name
        filename = filename?filename+'.xls':'{{ type }}.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if(navigator.msSaveOrOpenBlob){
            const blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
    </script>
{% endblock %}
{% block print-styles %}'*{font-family: "Helvetica", Helvetica, sans-serif;font-size:10px;}'{% endblock %}
{% comment %}
{% block print-styles %}
    'tr{ page-break-inside:avoid; page-break-after:avoid; }' +
    'td{ page-break-inside:avoid; page-break-after:avoid; }' +
    'table{ page-break-inside:avoid; page-break-after:avoid; }'
{% endblock %}
{% endcomment %}