{% extends 'data/base.html' %}

{% load mathfilters %}
{% load staticfiles %}

{% block title %}Annual Awards{% endblock %}

{% block navbar %}
    {% include 'data/navbar.html' %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/reports_styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
{% endblock %}

{% block content%}
    <!--Content goes here-->
    <div>
    <h2 class="heading">Printing Reports</h2>
</div>
    <form method="get" class="search_bar">
        <fieldset style="border: 0">
            Year: <select name="year" id="year"></select>

            Grade:
            <select name="grade">
                <option value="" >Select</option>
                <option value="08" >Grade 08</option>
                <option value="09" >Grade 09</option>
                <option value="10" >Grade 10</option>
                <option value="11" >Grade 11</option>
                <option value="12" >Grade 12</option>
            </select>

            Annual Certificates:
            <select name="annual">
                <option value="" >Select</option>
                <option value="SE" >Service</option>
                <option value="AT" >Athletics</option>
                <option value="honourroll" >Scholar Honour Roll</option>
                <option value="principalslist" >Scholar Principal's List</option>
                <option value="FA" >Fine Arts</option>
            </select>

            Cumulative Awards:
            <select name="cumulative">
                <option value="" >Select</option>
                <option value="silver" >Greyhound Silver Pin</option>
                <option value="gold" >Greyhound Gold Pin</option>
                <option value="goldplus" >Greyhound Gold+ Bar</option>
                <option value="platinum" >Greyhound Platinum Pin</option>
                <option value="big-block" >Athletics Big Block</option>
            </select>

            <input type="submit" value="Enter" onclick="javascript: form.action='print-annual';" />
        </fieldset>
    </form>

    <div>
        <button class="button default" onclick="PrintElem('GeneratedList')">Print Student List</button>
        <button class="button default" onclick="PrintCert('GeneratedList')">Print Certificates</button>
        Number of Students in list: {{ student_list|length }}
    </div>

    {% if student_list %}
    <div id="GeneratedList">
        <table class="sortable">
            <!-- Header Row-->
            <tr>
                <td>
                    <strong>&nbsp;Award&nbsp;</strong>
                </td>
                <td>
                    <strong>&nbsp;Name</strong>
                </td>
                <td>
                    <strong>&nbsp;Last Name</strong>
                </td>
                <td>
                    <strong>&nbsp;Student #&nbsp;</strong>
                </td>
                <td>
                    <strong>&nbsp;Homeroom</strong>
                </td>
            </tr>
        {% for student in student_list %}
            <tr>
                <td>{{ type }}&nbsp;&nbsp;&nbsp;</td>
                <td>{{ student.first }} ({{ student.legal }})</td>
                <td>{{ student.last }}</td>
                <td>{{ student.student_num }}</td>
                <td>{{ student.homeroom }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock %}
{% block javascript %}
    <script>
        var start = new Date().getFullYear() + 1;
        var end = 1970;
        var options = "";
        options += "<option value=\"\">Select</option>";
        for(var year = start ; year >=end; year--){
          options += "<option value=\""+ year + "\">" + year + " → " + (year + 1) +"</option>";
        }
        document.getElementById("year").innerHTML = options;
    </script>
    <script>
        (function(API){API.myText = function(txt, options, x, y) {
                options = options ||{};
                if( options.align === "center" ){

                    var fontSize = this.internal.getFontSize();
                    var pageWidth = this.internal.pageSize.width;
                    txtWidth = this.getStringUnitWidth(txt)*fontSize/this.internal.scaleFactor;

                    // Calculate text's x coordinate
                    x = ( pageWidth - txtWidth ) / 2;
                }

                // Draw text at x,y
                this.text(txt,x,y);
            }})(jsPDF.API);
    function PrintCert(elem) {
        const doc = new jsPDF({
            orientation: 'landscape',
            format: 'letter'
        });

        doc.myText(formatText(elem),{align: "center"},0,16);
        //doc.save('Certificates.pdf');

        doc.addPage();
        var string = doc.output('datauristring');
        var embed = "<embed width='100%' height='100%' name=Certificates src='" + string + "'/>"
        var x = window.open('', 'PRINT', 'height=400,width=600');
        x.document.open();
        x.document.write(embed);
        x.document.close();
    }
    function formatText(elem) {
        elem = document.getElementById(elem).innerHTML;
        console.log(elem);
        return elem;
    }
    </script>
{% endblock %}
